@charset "UTF-8";

.miss{
	padding-top: 40px;
	height: auto;
}
.not_mes{
	font-size: 30px;
	color: #006400;
}
.not_found{
	padding-top: 15px;
	color: #006400;
	font-size: 20px;
}
.mes{
	font-size: 16px;
	padding: 30px 0 0 20px;
}
.miss_logo{
	padding: 50px 0;
}
.miss_flow{
	padding-top: 20px;
	font-size: 14px;
}