@charset "UTF-8";
/* bxslider
=================================================================== */
#pc_slide img{
	height: 380px;
}
#sp_slide{
	display: none;
}
.bxslider{
	margin: 5px 0 5px 0;
}

@media only screen and (max-width: 480px) {
#pc_slide{
	display: none;
}
#sp_slide{
	display: block;
}
}
/* main
=================================================================== */
.main{
}
.h_strength{
	padding-top: 10px;
	font-size: 20px;
	text-align: center;
	color: #028539;
	font-weight: bold;
}
.tab_content ul{
	border-radius: 5px;
}
.tab_content li{
	float: left;
	margin-left: 2.5%;
	margin-bottom: 10px;
	width: 280px;
}
.tab_content a{
	text-decoration: none;
}
.block_title{
	font-weight: bold;
	font-size: 16px;
	color: #000;
}
.block_description{
	font-size: 13px;
	color: #666;
	letter-spacing: 1px;
}
.tab_content a:hover{
	position: relative;}
#divorce_block,#kbuilding_block{
	text-align: center;
}
#tabwrap {
	overflow: hidden;
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	padding-top: 20px;
}
.tabs {
	overflow: hidden;
	width: auto;
	padding: 0 5px;
}
.tabs li {
	list-style: none;
}
.tabs li a {
	border-radius: 5px 5px 0 0;
	float: left;
	display: block;
	padding: 10px;
	width: 33.3333%;
	color: #000;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	background: #dadada;
	border-bottom: 5px solid #028539;
}
.tabs li a:hover {
	background: #469f54;
}

.tabs li:first-child a { border-left: 0; margin-left: 0;}
.tabs li:last-child a { border-right: 0; }
.tabs li.current a {
	background: #028539;
	color: #fff;
}
.tab_content > div {
	padding: 20px;
	line-height: 19px;
	color: #000;
}
.tab_content .current { display: block; }
.tab_content #strength.first { display: block; }
.tab_content p { margin: 0 0 20px 0;}
.delay-show{
}
/*sp_device_max-width: 480px*/
@media only screen and (max-width: 700px) {
.img_bk{
}
.main{
	width: auto;
	padding: 0 10px 0 10px;
}
.tab_content li{
	width: auto;
	padding: 0 10px 0 10px;
}
.tabs li a {
	height: 60px;
	padding: 5px;
	font-size: 14px;
}
.tab_content li{
	float: none;
}
.top_h3{
	margin-left: 0;
}
.tab_content li{
	margin-bottom: 20px;
	border-bottom: 1px dotted #ccc;
}
}

/* main_inner
=================================================================== */
.main_inner{
	margin-bottom: 40px;
}
.topics{
	float: left;
}
.new_topics{
	overflow: scroll;
	border: 1px solid #dcdcdc;
	margin-left: 20px;
	margin-bottom: 10px;
	height: 215px;
}
.new_topics dt{
	float: left;
	clear: both;
	padding:10px 0 10px 0.5em;
    width:7em;
    line-height:1.5em;
}
.new_topics dd{
	padding:10px 0.5em 15px 7em;
	border-bottom:1px dotted #CCC;
}
.dd_last{
	border-bottom: 1px solid #dcdcdc;
}
.access{
	float: left;
}
.map img{
	margin-left: 50px;
	border: 1px solid #b29077;
}

/*sp_device_max-width: 480px*/
@media only screen and (max-width: 700px) {
.topics{
	width: auto;
	padding-bottom: 10px;
}
.new_topics{
	height: auto;
	margin: 0;
}
.main_inner{
	width: auto;
	padding: 0 10px 0 10px;
}
.map img{
	margin-left: 0;
}
}

.bigimg {
	text-align: center;
}

/* グローバルナビよん　*/
#nav span {
    display: none;
}
#nav, #nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav {
    background-color: #FFFFFF;
    border-bottom: 5px solid #009900;
    float: left;
    position: relative;
    width: 100%;
}
#nav ul.subs {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: #333333;
    display: none;
    left: 0;
    padding: 2%;
    position: absolute;
    top: 54px;
    width: 96%;
}
#nav > li {
    border-bottom: 5px solid transparent;
    float: left;
    margin-bottom: -5px;
    text-align: left;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    width: 14.28571%;
    border-left: 1px solid #777777;
}
#nav li a {
    display: block;
    text-decoration: none;
    -moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    white-space: normal;
}
#nav > li > a {
    color: #666666;
    display: block;
    font-size: 1.3em;
    line-height: 49px;
    /*padding: 0 15px;*/
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
#nav > li:hover > a, #nav > a:hover {
    background-color: #F55856;
    color: #FFFFFF;
}
#nav li.active > a {
    background-color: #333333;
    color: #FFFFFF;
}
/* submenu */
#nav li:hover ul.subs {
    display: block;
}
#nav ul.subs > li {
    display: inline-block;
    float: none;
    padding: 10px 1%;
    vertical-align: top;
    width: 33%;
}
#nav ul.subs > li a {
    color: #777777;
    line-height: 20px;
}
#nav ul li a:hover {
    color: #F55856;
}
#nav ul.subs > li > a {
    font-size: 1.7em;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#nav ul.subs > li li {
    float: none;
    padding-left: 8px;
    -moz-transition: padding 150ms ease-out 0s;
    -ms-transition: padding 150ms ease-out 0s;
    -o-transition: padding 150ms ease-out 0s;
    -webkit-transition: padding 150ms ease-out 0s;
    transition: padding 150ms ease-out 0s;
}
#nav ul.subs > li li a {
    font-size: 1.1em;
    line-height: 1.6em;
    letter-spacing: 0.1em;
}
#nav ul.subs > li li:hover {
    padding-left: 15px;
}
.pc_noactive {
    display: none;
}
/* responsive rules */
@media all and (max-width : 960px) {
    #nav > li {
        float: left;
        border-bottom: 0;
        margin-bottom: 0;
        width: 50%;
        border: 1px solid #999999;
    }
    .pc_noactive {
    display: block;
    }
    #nav ul.subs {
        position: relative;
        top: 0;
    }
    #nav li:hover ul.subs {
        display: none;
    }
    #nav li #s1:target + ul.subs,
    #nav li #s2:target + ul.subs,
    #nav li #s3:target + ul.subs,
    #nav li #s4:target + ul.subs,
    #nav li #s5:target + ul.subs,
    #nav li #s6:target + ul.subs, {
        display: block;
    }

    #nav ul.subs > li {
        display: block;
        width: auto;
    }

    #nav ul.subs > li > a  {
        font-size: 1.7em;
    }

    #nav ul.subs > li li a {
        font-size:1.2em;
        line-height: 2.0em;
    }
}

#global {
    display: none;
}
@media all and (max-width : 960px) {
    #global {
        display: block;
        width: 100%;
        height: 50px;
        color: #FFFFFF;
        text-align: center;
        padding-top: 10px;
        font-size: 25px;
        background-color: #009900;
    }
    .menu-waku {
        border-radius: 5px;
        border: 2px solid #444444;
        padding: 4px;
    }
    #nav {
        display: none;
    }
}

/* 20160317追加 */
@media all and (max-width : 960px) {
    .sp_txtC {
        text-align: center;
    }
}
.bannar-three {
    float: left;
}
@media all and (max-width : 960px) {
    .bannar-three {
        float: none;
        text-align: center;
    }
}
