header {
  display: block;
}

.contents__box {
  border: 1px solid #ccc;
  width: 90%;
  margin: auto;
  color: #383838;
}

.contents__box a {
  color: #54b2de;
}

.contents__boxin {
  width: 90%;
  margin: auto;
}

.contents__mainhedding {
  font-size: 30px;
  clear: both;
  padding: 40px 0 10px 0;
  margin: 0 0 40px 0;
  border-bottom: 2px solid pink;
  font-weight: bold;
}

.contents__subhedding {
  font-size: 22px;
  margin: 20px 0;
  font-weight: bold;
  border-left: 5px solid pink;
  line-height: 3em;
  background: #F6F6F6;
  padding: 0 0 0 10px;
}

.contents__h4 {
  font-weight: bold;
  margin: 2em 0 -0.5em 0;
  font-size: 20px;
  padding: 0 0 10px 0;
  border-bottom: 2px solid pink;
}

.contents__h5 {
  color: darkorange;
  font-weight: bold;
  margin: 2em 0 -0.5em 0;
}

.contents__index {
  margin: 30px 0px;
  border: 1px solid pink;
  padding: 10px;
}

.p__gray {
  color: #A9A099;
}

.contents__index-lists {
  list-style: disc;
  margin-left: 1em;
  line-height: 1.7em;
  font-size: 15px;
}

.contents__index-list {

}

.contents__img {
  margin: auto;
  text-align: center;
}

.link__underline:hover {
  text-decoration: underline;
}

.font-red {
  color: #ff5454;
}

.contents__paragraph {
  margin: 2em 0;
  line-height: 2em;
}

.contents__box-bottom {
  display: inline-block;
  margin: auto;
  width: 100%;
}
