/******************
    PC(common)
******************/

header {
  display: block;
}

small {
  font-size: 15px;
  color: #6c6a6a;
}

.contents__box {
  border: 1px solid #ccc;
  width: 90%;
  margin: 15px auto;
  color: #383838;
}

.contents__box a {
  color: #54b2de;
}

.contents__boxin {
  width: 90%;
  margin: auto;
}

.contents__mainhedding {
  font-size: 30px;
  clear: both;
  padding: 40px 0 10px 0;
  margin: 0 0 40px 0;
  border-bottom: 2px solid #e4419c;
  font-weight: bold;
}

.contents__subhedding {
  font-size: 22px;
  margin: 20px 0;
  font-weight: bold;
  border-left: 5px solid #e4419c;
  line-height: 2em;
  background: #F6F6F6;
  padding: 1em 0 1em 10px;
}

.contents__h3 {
  font-weight: bold;
  margin: 2em 0 -0.5em 0;
  font-size: 20px;
  padding: 0 0 10px 0;
  border-bottom: 2px solid #e4419c;
  clear: both;
}

.contents__h4 {
  color: darkorange;
  font-weight: bold;
  margin: 2em 0 -0.5em 0;
}

.contents__index {
  margin: 50px 0px;
  border: 1px solid pink;
  clear: both;
  padding: 10px;
}

.p__gray {
  color: #A9A099;
}

.contents__index-lists {
  list-style: disc;
  margin-left: 1em;
  line-height: 1.7em;
  font-size: 15px;
}

.contents__index-list {}

.contents__img {
  margin: auto;
  text-align: center;
}
.img_center {
  text-align: center;
  display: block;
}

.link__underline:hover {
  text-decoration: underline;
}

.font-red {
  color: #ff5454;
}
.font-bold {
  font-weight: bold;
}
.font-highlight {
  color: #ff5454;
  font-weight: bold;
}

.txt_R {
  text-align: right;
}

.contents__paragraph {
  margin: 2em 0;
  line-height: 2em;
}
.contents__paragraph-note {
  font-size: 80%;
  line-height: normal;
}

.contents__box-bottom {
  display: inline-block;
  margin: auto;
  width: 100%;
}

.contents__sub-head {
  font-size: 15px;
  color: #6c6a6a;
  padding-top: 25px;
}

.contents__lists {
  list-style: disc;
  margin-top: 20px;
  margin-left: 1em;
  line-height: 1.7em;
  font-size: 16px;
}
.contents__list {}
.contents__lists_n {
  list-style: none;
  margin-top: 20px;
  margin-left: 1em;
  line-height: 1.7em;
  font-size: 16px;
}
.sidecontents__lists li {
  margin-bottom: 5px;
}
.sidecontents__lists a:hover {
  text-decoration: underline;
}

/* 解決事例 */
.case__block {
  width: 45%;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 10px 5px;
  padding: 10px;
  height: 170px;
  float: left;
}
.case_type {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
.case__lawyer-link {
  text-align: right;
}
.case__lawyer-link a::before {
  content: "\f054";
  font-family: FontAwesome;
  margin-right: 5px;
}
.case__list_img {
  padding: 3px;
}

.user_data {}
.user_left {
  float: left;
  padding: 0px 30px 10px 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.user {
  font-size: 80%;
}
.user dt {
  float: left;
  margin-right: 10px;
  width: 4em;
}

/* office */
.g-map {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  margin-top: 40px;
  height: 0;
  overflow: hidden;
}

.g-map iframe,
.g-map object,
.g-map embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* media */
.media_inner{
  margin-right: 10px;
  margin-left: 10px;
}
.media_inner dt{
  width: 100px;
  padding: 10px 0 3px 5px;
  float: left;
}
.media_inner dd{
  width: 100%;
  height: auto;
  padding: 10px 10px;
  border-bottom: 1px dotted rgba(204,204,204,1.00);
}
.media_inner i {
  padding-right: 12px;
}

@media only screen and (max-width: 480px) {
  .media_inner dt{
    float: none;
  }
}


/* サイトマップ */
.sitemaplists {
  margin: 10px 15px;
  width: 100%;
}

.sitemaplist {
  float: left;
  margin: 0 10px 10px 10px;
  padding-left: 5px;
  position: relative;
}

.sitemaplist::after {
  display: block;
  content: '';
  position: absolute;
  top: 0.3em;
  left: -7px;
  width: 6px;
  height: 6px;
  border-right: 1px solid #54b2de;
  border-bottom: 1px solid #54b2de;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sitemaplist a {
  color: #54b2de;
}

.sitemaplist a:hover {
  text-decoration: underline;
}

.sitemaplists2 {
  margin: 30px 15px 10px 15px;
  width: 100%;
  height: 60px;
}

.sitemaplist2 {
  float: left;
  margin: 0 10px 10px 10px;
  padding-left: 5px;
  position: relative;
}

.sitemaplist2::after {
  display: block;
  content: '';
  position: absolute;
  top: 0.3em;
  left: -7px;
  width: 6px;
  height: 6px;
  border-right: 1px solid #54b2de;
  border-bottom: 1px solid #54b2de;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sitemaplist2 a {
  color: #54b2de;
}

.sitemaplist2 a:hover {
  text-decoration: underline;
}

.sp_side-col {
    display: none;
}

/******************
    Responsive
******************/

@media screen and (max-width: 700px) {
  .contents__box {
    border: none;
    width: 100%;
  }

  .contents__boxin {
    width: 95%;
  }

  .contents__boxin p {
    font-size: 15px;
  }

  .contents__mainhedding {
    font-size: 20px;
    padding: 20px 0 10px;
  }

  .contents__subhedding {
    font-size: 18px;
  }

  .contents__h3 {
    font-size: 16px;
  }

  .contents__img img {
    width: 100%;
  }

  .contents__lists {
    margin-left: 30px;
  }

  .contents__lists_n li {
    margin-bottom: 10px;
  }

  /* 解決事例 */
  .case__block {
    width: 90%;
    height: auto;
  }
  .case__block img {
    display: none;
  }
  .case__list_img {
    display: none;
  }

  /* フロー */
  .sp_size {
    width: 100%;
  }

  /* サイトマップ */
  .sitemaplists {
    margin: 10px 15px;
    width: 80%;
    height: 200px;
  }

  .sitemaplist {
    float: left;
    margin: 0 10px 10px 10px;
    padding-left: 5px;
    position: relative;
  }

  .sitemaplists2 {
    margin: 30px 15px 10px 15px;
    width: 80%;
    height: 100px;
  }

  .sitemaplist2 {
    float: left;
    margin: 0 10px 10px 10px;
    padding-left: 5px;
    position: relative;
  }

}

  /* タブレット */
@media (max-width: 1020px) and (min-width: 768px) {
  .contents__img > img {
    width: 100%;
  }
}

  /* 関連リンクエリア */
  #inner_link {
    width: 92%;
    margin: auto;
    clear: both;
    margin-bottom: 30px;
    padding: 10px;
    border: solid 5px #ffdbec;
  }
  .link_info {
    font-size: 18px;
    font-weight: bold;
  }
  .inner__link {
    margin: 10px 20px;
  }
  a.inner_links:visited {
    color: #609;
  }
