.footer {
  width: 100%;
  clear: both;
  background: #383838;
}
.footer__wrapper {
  width: 80%;
  margin: auto;
  padding: 20px 0;
  background: #383838;
}
.footer__box {
  width: 25%;
  float: left;
  display: block;
}

.footer__arrow li {
  margin-bottom: 10px !important;
  position: relative !important;
}
.footer__arrow li::after {
  display: block !important;
  content: '';
  position: absolute !important;
  top: 0.3em !important;
  left: -16px !important;
  width: 6px !important;
  height: 6px !important;
  border-right: 1px solid #fff !important;
  border-bottom: 1px solid #fff !important;
  -webkit-transform: rotate(-45deg) !important;
  -moz-transform: rotate(-45deg) !important;
  transform: rotate(-45deg) !important;
}
.footer__arrow a {
  color: #ffffff !important;
  font-size: 14px !important;
}
.footer__arrow a:hover {
  text-decoration: underline !important;
}
.footer__arrow a:visited {
  color: #ffffff !important;
}
.footer__lists {
  clear: both;
}
.footer__lists a {
  color: #fff;
}

.footer__links-sns-box {
  float: left;
  width: 25%;
}

.sns_ico {
  margin: 0 5px;
  float: left;
}

.footer__copyright {
  color: #fff;
  clear: both;
  padding: 20px 0;
  font-size: 13px;
  width: 90%;
}

.footer_nav {
  width: 95%;
  height: 20px;
  padding: 10px 2% 20px 2%;
}
.footer_nav li:hover {
  box-shadow: 0 0 20px #000000;
}
.footer_list {
  float: left;
}
.footer_list a {
  color: #fff;
}
.footer_list a:hover {
  color: #f9f9f9;
}

.link_bt {
  display: block;
  padding: 10px 30px;
}

@media screen and (min-width: 964px) {
  .footer__paragraph {
    height: 20px;
    padding-top: 20px;
    color: #fff;
  }
}
@media screen and (min-width: 680px) and (max-width: 963px) {
  .footer__paragraph {
    height: 20px;
    padding-top: 50px;
    color: #fff;
  }
}
@media screen and (min-width: 540px) and (max-width: 679px) {
  .footer__paragraph {
    height: 20px;
    padding-top: 80px;
    color: #fff;
  }
}

.footer__access {
  width: 25%;
  float: left;
}
.footer__access-googlemap {
  width: 100%;
}
.footer__access-googlemap iframe {
  width: 100%;
}
.footer__access-aside {
  font-size: 13px;
  color: #fff;
}
.footer__access-lists {
}
.footer__access-list {
  font-size: 13px;
  color: #fff;
}


@media screen and (max-width: 700px) {
  .footer__wrapper {
    width: 90%;
  }
  .footer__box {
    display: none;
  }
  .footer__lists li {
    text-align: center;
    padding: 10px 0;
  }
  .footer__links-sns-box {
    clear: both;
    width: 100%;
  }
  .footer__access {
    width: 100%;
  }
}
