.footer {
  width: 100%;
  clear: both;
  background: #383838;
}

.footer__wrapper {
	width: 80%;
  margin: auto;
  padding: 20px 0;
  background: #383838;
}

.footer__box {
  width: 25%;
  height: 160px;
  float: left;
}
@media screen and (max-width: 700px) {
  .footer__box {
    width: 50%;
    height: 160px;
    float: left;
    font-size: 14px;
  }
}

.footer__box li {
  margin-bottom: 10px;
}

.footer__arrow li {
  position: relative;
}

.footer__arrow li::after {
  display: block;
  content: '';
  position: absolute;
  top: 0.3em;
  left: -16px;
  width: 6px;
  height: 6px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.footer__arrow a {
  color: #ffffff;
  font-size: 14px;
}

.footer__arrow a:hover {
  text-decoration: underline;
}

.footer__arrow a:visited {
  color: #ffffff;
}

.footer__links-sns-box {
  float: left;
  width: 25%;
}
@media screen and (max-width: 700px) {
  .footer__links-sns-box {
    clear: both;
    width: 100%;
  }
}

.sns_ico {
  margin: 0 5px;
  float: left;
}

.footer__copyright {
  color: #fff;
  clear: both;
  padding: 20px 0;
  font-size: 13px;
}

@media screen and (min-width: 964px) {
	.footer__paragraph {
		height: 20px;
		padding-top: 20px;
		color: #fff;
	}
}
@media screen and (min-width: 680px) and (max-width: 963px) {
	.footer__paragraph {
		height: 20px;
		padding-top: 50px;
		color: #fff;
	}
}
@media screen and (min-width: 540px) and (max-width: 679px) {
	.footer__paragraph {
		height: 20px;
		padding-top: 80px;
		color: #fff;
	}
}
