.globalmenu {
  width: 100%;
  /*background: #f6f6f6;*/
  /*background: #ff8a00;*/
  /*background: orange;*/
  /*background: #ffbfdd;*/
  background: #ff9cca;
  clear: both;
  display: inline-flex;
}

.globalmenu__lists {
  width: 1120px;
  margin: auto;
  /*display: inline-block;*/
  font-weight: bold;
}

.globalmenu__list {
  float: left;
  padding: 14px 10px;
  margin: 0 0 0 20px;
  background: #ff9cca;
  color: #fff;
}

.globalmenu__list:hover {
  background: lightpink;
}

.globalmenu__list a {
  color: #fff;
}

.globalmenu__logo {
  width: 40px;
}

.globalmenu__list-underline-no:hover {
  border-bottom: none;
}
