.globalmenu {
  width: 100%;
  background: #e4419c;
  clear: both;
  display: inline-flex;
}
.globalmenu__lists {
  width: 1120px;
  margin: auto;
  font-weight: bold;
}
.globalmenu__list {
  float: left;
  padding: 14px 10px;
  margin: 0 0 0 20px;
  background: #e4419c;
  color: #fff;
}
.globalmenu__list:hover {
  opacity: .8;
}
.globalmenu__list a {
  color: #fff;
}
.globalmenu__logo {
  width: 40px;
}
.globalmenu__list-underline-no:hover {
  border-bottom: none;
}
button.drawer-toggle.drawer-hamburger {
  display: none;
}

/* sp用グローバルメニュー */
@media only screen and (max-width: 700px) {
  .globalmenu {
    display: none;
  }
  button.drawer-toggle.drawer-hamburger {
    display: block;
  }
}
