p {
  line-height: 1.5em;
}

a {
  cursor: pointer;
}

.lawyer__wrapper {
  width: 1160px;
  margin: auto;
}

.lp4__header {
  width: 100%;
  clear: both;
  margin: 10px 0 0 0;
}

.header__wrapper {
  width: 1120px;
  margin: auto;
}

.header__childwrapper-left {
  width: 25%;
  float: left;
}

.header__childwrapper-right {
  float: right;
}

.header__childwrapper-right_left {
  float: left;
  margin-left: 20px;
}

.header__childwrapper-right_right {
  float: right;
}

.header__tel_number {
  font-size: 26px;
  color: #000;
}

.header__message {
  float: right;
  font-size: 15px;
}

.header__time {
  clear: both;
  border-top: 1px dotted #000;
  font-size: 13px;
}

.header__logo {
  width: 300px;
}

.header-mainhedding {
  font: 20px 'MS 明朝';
  color: lightpink;
  font-weight: bold;;
  line-height: 0.5em;
}


/*
--------------- Main contents --------*/

.column__right {
  width: 910px;
  float: right;
}

.column__left {
  margin-top: 50px;
  width: 250px;
  float: left;
}

.centraize {
  text-align: center;
  margin: auto;
}

.lawyer__subwrapper-left {
  float: left;
  width: 620px;
}

.lawyer__photos {
  /*height: 100px;*/
  width: 13.9%;
  float: left;
  /*border: 1px solid #ccc;*/
  border-radius: 5px;
  margin: 0 2px;
}

.lawyer__photos-individual {
  /*height: 100px;
  width: 200px;*/
  /*width: 172px;*/
  width: 100%;
  border-radius: 5px;
}

.lawyer__subwrapper-right {
  float: left;
  width: 165px;
}

.lawyer__subwrapper-right-photo {
  width: 186px;
  margin: 10px 10px;
  border-radius: 5px;
  /*border: 1px solid #ccc;*/
  position: relative;
}

.message {
  width: 80%;
  margin-bottom: 30px;
}

.message__wrapper {
  /*border: 1px solid #b5ac3e;*/
  border-radius: 10px;
  padding: 10px 30px 0;
  margin: 30px 30px 0;
  clear: both;
  float: left;
}

.message-background {
  /*background: #ffafd1;*/
  /*background: #ff92a2; pink*/
  /*background: #F8F5ED; ベンコム風 */
  border: 3px solid #ffc4ca;
  padding: 5px 5px;
  width: 830px;
}

.message__mainhedding-white {
  margin: 6px 0;
  padding: 10px 20px;
  /*color: #de8225;*/
  background: rgba(255, 200, 200, 0.8);
  /*background: rgba(255,38,38,0.8); red*/
  /*color: #fff;*/
  text-shadow: 1px 1px 2px #e69696;
  border-radius: 5px;
  /*float: left;*/
  width: 577px;
  font-weight: bold;
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 22px;
}

.message__mainhedding {
  font-size: 20px;
  color: #f190c6;
  font-weight: bold;
}

.message__mainhedding-bigger {
  font-size: 25px;
}

.message_photo {
  height: 175px;
  display: inline-block;
  float: left;
  border-radius: 100px;
  margin-right: 20px;
}

.message__pragraph {
  padding: 20px 10px;
  width: 90%;
}

.message__next-button {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 30px;
  display: inline-block;
}

.point__mainhedding {
  font-size: 25px;
  /*color: #ff9aac;*/
  /*background: #f3e9dc;*/
  background: #f6f6f6;
  border-left: 5px solid #ff9aac;
  width: 80%;
  padding: .5em 2em;
  margin: 20px auto;
  clear: both;
  font-weight: bold;
}

.point__lists__wrapper {
  width: 840px;
  margin: 30px auto;
}

.point__lists {
  width: 840px;
  clear: both;
  margin: 0 auto 10px;
  display: inline-block;
  /*border: 2px solid orange;*/
  color: #333;
  /*border: 2px solid #f3e9dc;*/
  border-bottom: 2px dotted #e6e6e6;
  padding: 30px 10px;
  box-sizing: border-box;
}

.point__list-number {
  width: 50px;
  font-size: 18px;
  text-align: center;
  padding: 50px 10px;
  display: inline-block;
  /*font-weight: bold;*/
  /*border-radius: 100px;
  border: 1px solid pink;*/
}

.point__list-number span {
  font-size: 28px;
  line-height: 1.5em;
}

.point__list-number-left {
  float: left;
}

.point__list-img {
  width: 40%;
  float: left;
  padding: 15px;
}
@media screen and (max-width: 700px) {
  .point__list-img {
    width: 90%;
  }
}

.point__list-img img {
  width: 300px;
  border-radius: 10px;
}

.point__list-img-right {
  float: right;
}
@media screen and (max-width: 700px) {
  .point__list-img-right {
    float: left;
  }
}


.point__list-contents {
  width: 50%;
  padding: 17px 17px 17px 30px;
  position: relative;
  display: inline-block;
}

.point__list-contents-left {
  float: left;
}

.point__list-contents-right {
  float: right;
}

.point__list-contents__border-left {
  border-left: 1px dotted #333;
}

.point__list-contents__border-right {
  border-right: 1px solid #fff;
}

.point__list-contents-subhedding {
  color: sienna;
  font-size: 25px;
  line-height: 1.5em;
  padding: 10px 0 20px 0;
  font-weight: bold;
  text-align: center;
}

.point__list_link {
  float: right;
  border-bottom: 1px solid #ccc;
  color: blue;
}

.point__list_link:hover {
  color: lightblue;
}

.solution__wrapper {
  width: 800px;
  margin: auto;
  clear: both;
}

.solution-case__button {
  border-radius: 15px;
  border: 1px solid #e4439d;
  box-shadow: 3px 4px 0 #ccc;
  width: 287px;
  margin: 10px auto;
  padding: 14px;
  display: inline-block;
  color: #e4419c;
  font-size: 23px;
}

.solution-case__button:hover {
  background: #e4419c;
  color: #fff;
}

.contact__middle {
  width: 90%;
  margin-bottom: 50px;
  position: relative;
}
@media screen and (max-width: 700px) {
  .contact__middle {
    width: 100%;
    margin-bottom: 0;
  }
}


.contact__middle-left {
  width: 45%;
}
@media screen and (max-width: 700px) {
  .contact__middle-left {
    width: 100%;
  }
}

.contact__middle-left .button {
  width: 80%;
}

.contact__wrapper {
  width: 800px;
  margin: auto;
  clear: both;
  padding: 30px 0;
}

.contact__wrapper-border {
  border: 5px solid #ffdbec;
  float: left;
  margin-bottom: 50px;
}

.contact__sub-wrapper-left {
  float: left;
  width: 540px;
  padding: 10px 0 10px 0;
}

.contact__sub-wrapper-right {
  float: left;
  width: 250px;
}

.contact__sales-bold {
  font-size: 120%;
  font-weight: bold;
}

.contact__sales-note {
  text-decoration: underline;
  margin: 0.75em 0 0 1em;
}

.contact__button {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 5px 10px;
  padding: 5px 10px;
  background: #36d900;
  color: #fff;
  font-weight: bold;
  box-shadow: 3px 4px 0 #ccc;
  border: 1px solid #888;
}
.contact__button:hover {
  background: #3cf300;
}

.lp4__sumaho-display {
  display: none;
}

.footer__wrapper {
  clear: both;
}

.footer__paragraph {
  font-size: 11px;
  margin: 0 0 15px 0;
  color: #333;
}


/*--------------------------------------------------------------------Kimura original----------------------------------------------------*/
.mainvisual {
  margin: auto;
  width: 1120px;
}

.mainvisual__left {
  width: 70%;
  float: left;
  display: inline-block;
}

.mainvisual__left-wrapper {
  margin: auto;
  width: 90%;
  padding: 30px 0 0 0;
}

.mainvisual__mainhedding {
  font-size: 30px;
  font-weight: bold;
}

.mainvisual__left-childwrapper {
  margin: 20px 0 0 0;
}

.catch__prase {
  color: #30bd00;
  font-weight: bold;
}

.button {
  display: inline-block;
  padding: 15px 30px;
  background: #36d900;
  border-radius: 15px;
  box-shadow: 3px 4px 0 #ccc;
  border: 1px solid #888;
}

.button:hover {
  background: #3cf300;
}

.button__paragraph {
  color: #fff;
  font-size: 25px;
}

.button__tel {
  font-size: 35px;
  color: #000;
}

.button__tel_number {
  padding: 0 15px;
  font-weight: bold;
}

.button-header {
  padding: 14px;
}

.button-header_paragraph {
  color: #fff;
  font-size: 17px;
}

.advance {
  margin: 30px 0 0;
  width: 100%;
  clear: both;
  background: #ffdbec;
  box-shadow: 3px 0 10px #ccc;
  /*background: #ffafd1;*/
  /*background: #ffdbec;*/
  /*background: #f6f6f6;*/
  /*box-shadow: 3px 0 10px #ccc;*/
}

.advance__wrapper {
  /*width: 1120px;*/
  margin: auto;
  color: #463b42;
  padding: 10px 0 30px;
  display: inline-block;
}

.advance__hedding {
  /*color: #e4419c;
  color: #f170b8;*/
  margin: 0 0 20px;
  padding: 5px 0;
  font-weight: bold;
  font-size: 23px;
  text-align: center;
  color: #f190c6;
}

.advance__block {
  float: left;
  width: 240px;
}

.advance__images {
  height: 140px;
  border-radius: 75px;
}

.advance__paragraph {
  padding: 0 10px;
  font-size: 16px;
}

.advance__paragraph span {
  font-size: 140%;
  font-weight: bold;
}

.new__wrapper {
  width: 80%;
  margin: 50px auto 10px;
}
@media only screen and (max-width: 700px) {
  .new__wrapper {
    width: 95%;
    clear: both;
    padding: 30px 0 0;
  }
}

.new__mainhedding {
  font-size: 20px;
  color: #e4419c;
}

.new__topics {
  border: 2px solid #f3e9dc;
  font-size: 13px;
}

.new__topics dt {
  float: left;
  clear: both;
  padding: 10px .5em 0;
}

.new__topics dd {
  padding: 10px .5em 15px 7em;
}

.hot {
  background: #f55856;
  color: #fff;
  padding: 3px;
  margin-top: 5px;
}

/* ----------------------------------------------------------------------ここからレスポンシブ-----------------------------------------------------------------*/
@media only screen and (max-width: 700px) {
  .header__wrapper {
    width: 100%;
    margin: auto;
  }

  .header__logo {
    width: 84%;
    margin: auto 8%;
  }

  .header__childwrapper-left {
    width: 100%;
    float: none;
  }

  .header__childwrapper-right {
    float: none;
    margin: 15px 0 0;
  }

  .header__childwrapper-right_left {
    float: left;
    margin-left: 20px;
    width: 90%;
    position: sticky;
  }

  .header__childwrapper-right_right {
    float: right;
  }

  .header__childwrapper-right_left-sp-padding {
    padding: 10px 0 5px;
  }

  .header__tel_number {
    font-size: 16px;
  }

  .header__message {
    float: right;
    font-size: 15px;
  }

  .header__time {
    font-size: 10px;
  }

  .column__right {
    margin: 2%;
    width: 96%;
    float: left;
  }

  .column__left {
    width: 80%;
    float: left;
    margin: 0 10%;
  }

  .lp4__header-logo {
    width: 70%;
    margin: 5px 19% -20px;
  }

  .lawyer__wrapper {
    width: 100%;
    margin: auto;
    float: left;
  }

  .lawyer__subwrapper-left {
    float: left;
    width: 100%;
  }

  .lawyer__photos {
    height: auto;
    width: 32%;
    float: left;
    border: 0;
    margin: 0 2px;
  }

  .lawyer__photos-individual {
    height: auto;
    width: 100%;
  }

  .lawyer__subwrapper-right {
    display: none;
  }

  .lawyer__subwrapper-right-photo {
    display: none;
  }

  .message {
    margin: 250px auto 0;
  }

  .message__wrapper {
    padding: 0 0 10px;
    margin: 15px auto;
    clear: both;
    float: none;
    position: relative;
    width: 100%;
  }

  .message-background {
    padding: 5px 5px;
    width: 100%;
    margin: auto;
  }

  .message__mainhedding-white {
    margin: 6px 4px;
    padding: 10px 5px;
    float: left;
    width: 95%;
    font-size: 24px;
  }

  .message__mainhedding {
    font-size: 13px;
    line-height: 2em;
  }

  .message__mainhedding-bigger {
    font-size: 20px;
  }

  .message_photo {
    height: 100px;
    border-radius: 100px;
    margin: 15px auto 10px;
    display: block;
    clear: both;
    float: none;
  }

  .message__pragraph {
    float: none;
    font-size: 12px;
    margin-right: 2em;
    padding: 15px 10px;
  }

  .point__mainhedding {
    width: auto;
    font-size: 18px;
  }

  .point__lists__wrapper {
    width: 100%;
    margin: auto;
  }

  .point__lists {
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    border-radius: 15px;
  }

  .point__list-number {
    width: 100%;
    font-size: 25px;
    text-align: center;
    padding: 0;
    display: inline-block;
    font-weight: bold;
    /*border-radius: 100px;
    border: 1px solid pink;*/
  }

  .point__list-number-left {
    display: none;
  }

  .point__list-number-right {
    display: none;
  }

  .point__list-contents {
    width: 90%;
    padding: 17px 5%;
    position: none;
    display: inline-block;
  }

  .point__list-contents-left {
    float: left;
  }

  .point__list-contents-right {
    float: left;
  }

  .point__list-contents__border-left {
    border-left: 0;
  }

  .point__list-contents__border-right {
    border-right: 0;
  }

  .point__list-contents-subhedding {
    font-size: 20px;
    margin: 0 0 1em 0;
    font-weight: bold;
    text-align: center;
    line-height: 1.5em;
    padding: 0;
  }

  .point__list_link {
    float: right;
  }

  .solution__wrapper {
    width: 100%;
    margin: auto;
    clear: both;
  }

  .solution-case__button {
    width: 80%;
    margin: 20px auto;
    font-size: 23px;
  }

  .contact__wrapper {
    width: 100%;
    margin: auto;
    clear: both;
    padding: 30px 0;
  }

  .contact__wrapper-border {
    border: 5px solid #ffdbec;
    float: left;
    margin: auto;
    margin-bottom: 50px;
  }

  .contact__sub-wrapper-left {
    width: 100%;
  }

  .contact__sales-bold {
    margin: 0.5em;
  }

  .contact__sub-wrapper-right {
    width: 100%;
  }

  .contact__button {
    font-size: 20px;
    padding: 10px 0;
  }

  .lp4__sumaho-display {
    display: block;
  }

  .button {
    display: inline-block;
    padding: 15px 13px;
    background: #36d900;
    border-radius: 15px;
    box-shadow: 3px 4px 0 #ccc;
    border: 1px solid #888;
  }

  .button:hover {
    background: #3cf300;
  }

  .button__paragraph {
    color: #fff;
    font-size: 17px;
    text-align: center;
  }

  .button__tel {
    font-size: 35px;
    color: #000;
  }

  .button__tel_number {
    padding: 0 0 0 15px;
    font-weight: bold;
  }

  .button-header {
    padding: 14px 10px;
    width: 35%;
  }

  .button-header_paragraph {
    color: #fff;
    font-size: 13px;
    text-align: center;
  }

  .advance {
    margin: 30px 0 0;
    width: 100%;
    clear: both;
  }

  .advance__wrapper {
    width: 100%;
    margin: auto;
    padding: 10px 0 30px;
    display: inline-block;
  }

  .advance__hedding {
    padding: 0;
    margin: 0 0 20px;
    font-size: 20px;
    /*border-bottom: 2px dotted pink;*/
    text-align: center;
  }

  .advance__block {
    float: none;
    width: 95%;
    margin: 0 auto 20px;
  }

  .advance__images {
    height: 140px;
    border-radius: 75px;
  }

  .advance__paragraph {
    padding: 0 10px;
    font-size: 16px;
  }

  .advance__paragraph span {
    font-size: 140%;
    font-weight: bold;
  }


}

/*--------------------------------------------------------------------------user_voice------------------------------*/
.user_voice__wrapper {
  margin: 10px auto 10px;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.user_voice__h3 {
  /*color: #ff9aac;*/
  border-left: 5px solid #ff9aac;
  /*background: #F3E9DC;*/
  background: #f6f6f6;
  width: 80%;
  font-size: 25px;
  margin: 20px auto 0;
  font-weight: bold;
  /*border-bottom: 3px solid lightpink;*/
  display: inline-block;
  padding: .5em 2em;
}

.user_voice__box {
  font-size: 13px;
  /*border: 1px solid #cec81b;
  border-radius: 15px;*/
  display: inline-block;
  width: 95%;
  margin: 5px 0;
  padding: 10px 0 20px 0;
}

.user_voice__lists {
  /*list-style: disc;
  padding: 0 2em;*/
  padding: 1em;
  /*background: #fffde1;*/
  /*border: 3px solid #fffaae;*/
  border-radius: 10px;
  width: 90%;
  margin: auto;
}

.user_voice__list {
  margin: .5em 5px;
  padding: 1em .5em;
  border-radius: 10px;
  /*border: 1px solid #f3e9dc;*/
  border: 1px solid #e6e6e6;
  width: 47%;
  height: 100px;
  font-size: 15px;
  float: left;
}

.user_voice__list strong {
  font-size: 110%;
}

.user_voice__list span {
  font-weight: bold;
  margin-bottom: 7px;
  padding-right: 1.5em;
  display: inline-block;
  border-bottom: 2px solid pink;
}

@media only screen and (max-width: 700px) {
  .user_voice__wrapper {
    width: auto;
  }

  .user_voice__box {
    width: 100%;
    margin: 0;
  }
  .user_voice__h3 {
    width: auto;
  }
  .user_voice__lists {
    line-height: 1.5em;
  }
  .user_voice__list {
    width: auto;
    height: auto;
  }
}

/*breadcrumb*/
#breadcrumbs {
  clear: both;
  margin: 10px;
}
#breadcrumbs li {
  float: left;
  font-size: 12px;
  margin-left: 1em;
}


/*----------------------------------------------------------- topvisual --------------------------*/

.topvisual-bg {
  background: url("../images/topvisual3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 447px;
}

.topvisual-mask {
  /*background: rgba(255,255,255,0.3);
  height: 447px;*/
}

.topvisual__paragraph {
  padding-top: 340px;
  width: 900px;
}

.topvisual__button-left {
  float: left;
}

.topvisual__button-left_paragraph {
  background: rgba(255,255,255,0.9);
  width: 400px;
  padding: 5px 0;
}

.topvisual__button-right {
  float: right;
  background: rgba(255,255,255,0.9);
}

.topvisual__butoon-right_paragraph {
  padding: 10px 0 5px;
}

.topvisual__button-tel {
  /*color: lightpink;*/
  color: #36d900;
  font-size: 45px;
}

/* topvisual responsive */
@media only screen and (max-width: 700px) {
  .topvisual-bg {
    background: url("../images/topvisual3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 170px;
    background-size: contain;
  }

  .topvisual__paragraph {
    padding-top: 170px;
    width: 100%;
  }

  .topvisual__button-left {
    float: none;
  }

  .topvisual__button-left_paragraph {
    background: rgba(255,255,255,0.9);
    width: 100%;
    padding: 5px 0;
    font-size: 15px;
  }

  .topvisual__button-right {
    float: none;
    background: rgba(255,255,255,0.9);
  }

  .topvisual__butoon-right_paragraph {
    padding: 10px 0 5px;
    font-size: 13px;
  }

  .topvisual__button-tel {
    color: #fff;
    font-size: 17px;
    width: 79%;
    background: #36d900;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    border: 1px solid #888;
    padding: 15px 13px;
  }

  .topvisual__button-sp {
    margin: auto 6%;
    width: 79%;
  }
}


/*  お悩みのところ */
.troble {
  display: inline-block;
  margin: 0 auto 10px;
}

.trouble__wrapper {
  clear: both;
  margin: 0 auto 30px;
  width: 90%;
  /*border: 2px solid #e6e6e6;*/
  border-radius: 15px;
}

.troble__mainhedding {
  font-size: 25px;
  /*color: #ff9aac;*/
  /*background: #f3e9dc;*/
  background: #f6f6f6;
  border-left: 5px solid #ff9aac;
  width: 80%;
  padding: .5em 2em;
  margin: 20px auto;
  clear: both;
  font-weight: bold;
}

@media only screen and (max-width: 700px) {
  .troble__mainhedding {
    width: auto;
    font-size: 18px;
  }
}

.troble__category-lists {
  margin: 15px auto 20px;
  display: inline-block;
  width: 100%;
}

.troble__category-list {
  float: left;
  padding: 3px 2.5%;
  border-radius: 5px;
  margin: 3px;
  background: #fff3f8;
  color: #333;
  font-weight: bold;
}

@media only screen and (max-width: 700px) {
  .troble__category-list {
    font-size: 12px;
    padding: 3px 2%;
    margin: 1.5px;
  }
}

.troble__lists {
 padding-left: 1em;
 margin: 30px auto;
}

.troble__list {
  padding-bottom: .5em;
  font-size: 18px;
}

.troble__list i {
  padding-right: 1em;
  color: #666;
}

@media only screen and (max-width: 700px) {
  .troble__lists {
    padding: 0 1em;
    margin: 0;
  }

  .troble__list {
    font-size: 16px;
  }

  .troble__list i {
    padding-right: .5em;
  }
}

.troble__arrow {
  color: #aaa;
  margin: 10px auto 0;
}

.troble__paragraph {
  width: 90%;
  font-size: 18px;
  padding: 1em 0 1.5em;
  margin: 30px auto 50px;
}

.troble__paragraph strong {
  /*border-bottom: .2em solid orange;*/
  font-size: 1.2em;
}

@media only screen and (max-width: 700px) {
  .troble__paragraph {
    font-size: 16px;
    margin: 0 auto;
  }
  .troble__paragraph strong {
    font-size: 1em;
  }
}


.inner { display: none;}

.toggle-wrapper {
  width: 90%;
  margin: auto;
}

.toggle-heading {
  border: 1px solid #ccc;
  padding: 5px 30px;
  display: inline-block;
  width: 90%;
}

.toggle-heading-1 {
  width: 19%;
  float: left;
  text-align: center;
  font-size: 25px;
  border-right: 1px solid #ccc;
}
.toggle-heading-1 p {
  text-align: center;
}

.toggle-heading-2 {
  width: 80%;
  float: left;
  text-align: center;
}
.toggle-heading-2 h4 {
  text-align: center;
  font-size: 21px;
}
.toggle-heading-2 p {
  font-size: 15px;
}

.toggle-heading-3 {
  width: 19%;
  float: right;
  text-align: center;
  font-size: 25px;
  border-left: 1px solid #ccc;
}
.toggle-heading-3 p {
  text-align: center;
}

/*author: yuta kimura
githubID: https://github.com/Masterwood*/
