.sidecolumn__border {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0 30px;
}

a {
  text-decoration: none;
}

b {
  font-weight: bold;
  font-size: 120%;
}

strong {
  font-weight: bold;
}

.sidecolumn__subhedding {
  margin: 5px 0;
}

.sidecolumn__button-fade:hover {
  opacity: 0.5;
}

.sidecolumn__emphasis {
  font-size: 140%;
}

.sidecolumn__subhedding-orange {
  background: #7de42e;
  color: white;
  padding: 5px 10px;
}

.sidecolumn__paragraph-orange {
  color: darkorange;
  padding: .5em 0 .5em 0;
}

.sidecontents__border {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px 0;
}

.sidecontents__subhedding {
  margin: 10px 0;
}

.sidecontents__emphasis {
  font-size: 120%;
}

.sidecontents__lists {
  padding: 0 15px;
}

.sidecontents__lists-child {
  list-style: disc;
  margin: 0 0 0 2em;
  color: #ccc;
}

.sidecontents__child__money {
  background-size: 20% 100%;
  padding: 0 0 10px 0;
  background-repeat: no-repeat;
}

.sidecontents__paragraph {
  background: #ffdbec;
  color: #74542B;
  line-height: 1.25em;
  padding: 5px 2px;
}

.sidecontents__paragraph-only {
  color: #74542b;
  padding: 0 10px 0 10px;
}


.sidecontents__logo {
  width: 95%;
  margin: 7px 5px;
}

.sidecolumn__sp {
    display: none;
}



/* ----------------------------------------------------------------------ここからレスポンシブ-----------------------------------------------------------------*/
@media only screen and (max-width: 700px) {
  .sidecolumn__border {
    border-radius: 7px;
    width: 280px;
    margin: 10px 10% 30px;
  }

  .sidecontents__border {
    margin: 20px 0;
    border-radius: 7px;
  }

  .lp4__sumaho-footer {
    width: 96%;
    margin: 2%;
  }

  .sidecontents__lists {
    margin: 0 0 20px 0;
  }

  .sidecontents__lists li {
    margin: 2em 0 0 0;
  }

  .sidecontents__lists-child li {
    margin: 1em 0 1em 0;
  }

  .column__left {
    display: none;
  }

  /* アコーディオンメニュー */
  .sidecolumn__sp {
    width: 90%;
    margin: 0 5%;
    display: block;
  }
  .sidecolumn-sp__acordion {
    width: 100%;
  }
  .sidecolumn-sp__acordion_lists {
    background: #ececec;
    width: 94%;
    margin: 0 auto 30px;
    padding: 10px;
    font-size: 16px;
  }
  .sidecolumn-sp__acordion_lists a {
    display: block;
    padding: 10px;
    background-position: 97% center;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  .sidecolumn-sp__acordion_lists span {
    display: block;
    padding: 10px;
    background-position: 97% center;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: bold;
  }
  .sidecolumn-sp__acordion_lists ul {
    display: none;
  }
  .sidecolumn-sp__acordion_lists > li {
    background: #e4419c;
    border-bottom: 1px dotted #fcfcfc;
  }
  .sidecolumn-sp__acordion_lists li p {
    background: -moz-linear-gradient(top, #C6F0FE, #27BCF9);
    cursor: pointer;
  }
  .sidecolumn-sp__acordion_lists li p span {
    background: url(/divorce/images/i_swich.png) 290px -70px no-repeat;
  }
  .sidecolumn-sp__acordion_lists li p span.active {
    background: url(/divorce/images/i_swich.png) 290px 16px no-repeat;
  }
  .sidecolumn-sp__acordion_lists li ul li {
    background: #fff;
    border-bottom: 1px solid #f2f2f2;
  }
  .sidecolumn-sp__acordion_lists li ul li p {
    background:#999;
  }
  .sidecolumn-sp__acordion_lists li ul li ul li:last-child {
    border:none;
  }
}

/*author: yuta kimura
githubID: https://github.com/Masterwood*/
