#Container .mix{
	display: none;
}

button{
  display: inline-block;
  padding: .4em .8em;
  background: #f5a5b3;
  border: 0;
  margin: 5px 2px;
  float: left;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  border-radius: .25em;
  box-shadow: 2px 3px 0 #ccc;
  cursor: pointer;
}

button.active{
  background: #68b8f4;
}

button:focus{
  outline: 0 none;
}

button:first-of-type{
  margin-left: 0;
}

button:last-of-type{
  margin-right: 0;
}

button:focus{
  outline: 0 none;
}

.controls{
  padding: 2%;
}

fieldset{
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: .5em;
  width: 98%;
  background: #f6f6f6;
}

.refine__Reset {
  background: orange;
  clear: both;
}
.Reset__button {
  margin: 20px auto;
  width: 100px;
}

#Container {
  clear: both;
}


/******************
    Responsive
******************/

@media screen and (max-width: 700px) {

  fieldset{
    width: 95%;
  }
}
