<Files ~ "^.(htpasswd|htaccess)$">
    deny from all
</Files>

ErrorDocument 404 /404.html

DirectoryIndex index.html index.cgi .ht

Action myphp-script /php.cgi
AddHandler myphp-script .php .html

RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www\.)?a-dreamlaw\.sakura\.ne\.jp$ [NC]
RewriteRule .* http://a-dreamlaw.com%{REQUEST_URI} [R=301,L]
