/* h1_h2_h3 */
.sct_h1{
	border-bottom: 3px solid #E22061;
}
.sct_h2{
	border-left: 4px solid #E22061;
	background-color: #EFE5D9;
}
.sct_h3{
	border-bottom: 1px dotted #E22061;
}


.txt_green {
	color: #028539;
}

.width-80 {
	font-size: 13px;
	width: 80%;
	margin-left: 10%;
	background-color: #FAFAFA;
}

.width-80 h3 p {
	font-size: 13px;
}
.width-80 h3 {
	font-size: 13px;
}
/* subnavi */
.subnavi{
	border: 2px solid #FF92A2;
	border-top: 6px solid #FF92A2;
	border-radius: 5px;
}
.subnavi h3{
	color: #74542B;
	font-size: 14px;
	padding: 5px 0 15px 0;
	text-align: center;
	font-weight: bold;
}
.subnavi_arrow li::after {
	display: block;
	content: '';
	position: absolute;
	top: .5em;
	left: 2px;
	width: 6px;
	height: 6px;
	border-right: 1px solid #E22061;
	border-bottom: 1px solid #E22061;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}