<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>確認画面 | 弁護士法人淡路町ドリーム</title>
<meta name="description" content="離婚・相続問題（家事）、建築問題に強い、弁護士法人淡路町ドリーム。所属する7名の弁護士が専門性を発揮し、ご相談者様に笑顔を届けます。淡路町駅、小川町駅徒歩1分。03-3525-8010" />
<meta name="keywords" content="弁護士,離婚,モラハラ,不倫,不貞,別居,DV,女性,調停,協議離婚,訴訟,建築,不動産,淡路町,千代田区,東京,弁護士,淡路町ドリーム" />
<meta name="viewport" content="width=device-width, user-scalable=yes">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="http://a-dreamlaw.com/common/images/favicon.ico" >
<link rel="stylesheet" media="all" href="http://a-dreamlaw.com/common/css/base.css" />
<link rel="stylesheet" media="all" href="http://a-dreamlaw.com/common/css/second.css" />
<link rel="stylesheet" media="all" href="../common/css/contact.css" />
</head>
<body>
<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WL2L4J"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-WL2L4J');</script>
<!-- End Google Tag Manager -->

<!-- <header> -->
<?php include($_SERVER['DOCUMENT_ROOT'] . '/include/header.php'); ?>
<!-- </header> -->

	<div class="form_head_sp">
	<figure class="img_center">
				<a onclick="goog_report_conversion('tel:0335258010');ga('send', 'event', 'adreamlaw', 'tel', 'label');return false;" href="tel:0335258010" ><img src="http://a-dreamlaw.com/common/images/header_tel.jpg" alt="電話でのお問い合わせ" width="160" height="50"></a>
			</figure>
		</div>
		<div class="contact_header"></div>
<div class="row container">
<div class="span12">
<h1 class="sct_h1">確認画面</h1>
<ul class="flow-list">
 <li class="flow">入力</li>
 <li class="flow_active">確認</li>
 <li class="flow">完了</li>
</ul>

<!--
%_msg_class_%		エラーがある時「error」ない時「info」
%_msg_instruct_%	メッセージ
-->

<div class="text-%_msg_class_% mb_20 pl_10">
	<p>入力された内容は以下になります。</p>
	<p>この内容でよろしければ「送信」ボタンを押してください。</p>
</div>

<!-- form の id 属性は変更不可 -->
<form class="form-horizontal" method="post" action="thanks.html" id="sugu_mainform">
<input type="hidden" name="s" value="3">
<input type="hidden" name="i" value="%_i_%">

<!--
フィールドの設定です。
管理画面で「使用しない」を選んだ項目については
コメントで挿入されている xxx begin  から  xxx end までが
自動的に削除されます。

管理画面での設定と関係なくこれらのフィールドの表示を残したい場合は
コメントを削除して下さい。
-->


<!-- inputfield_mail_conf begin -->
<!-- メールアドレス（確認）
<div class="control-group %_mail_conf_if_error_% %_mail_conf_if_required_%">
<label class="control-label" for="mail_conf">%_mail_conf_local_name_% <abbr id="mail_conf_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_mail_conf_msg_%</span>
	<input class="input-large" type="text" name="mail_conf" id="mail_conf" value="%_mail_conf_%" placeholder="もう一度メールアドレスを入力" maxlength="%_mail_conf_maxlength_%">
	</div>
</div>
 -->
<!-- inputfield_mail_conf end -->


<fieldset>
	<!-- inputfield_select_01 begin -->
<!-- 選択リスト01 -->
<div class="control-group %_select_01_if_error_% %_select_01_if_required_%">
<label class="control-label" for="select_01">%_select_01_local_name_% <abbr id="select_01_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_select_01_%</span>
	</div>
</div>
<!-- inputfield_select_01 end -->
<!-- inputfield_text_01 begin -->
<!-- 1行テキスト01 -->
<div class="control-group %_text_01_if_error_% %_text_01_if_required_%">
<label class="control-label" for="text_01">%_text_01_local_name_% <abbr id="text_01_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_text_01_%</span>
	</div>
</div>
<!-- inputfield_text_01 end -->
<!-- inputfield_text_02 begin -->
<!-- 1行テキスト02 -->
<div class="control-group %_text_02_if_error_% %_text_02_if_required_%">
<label class="control-label" for="text_02">%_text_02_local_name_% <abbr id="text_02_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_text_02_%</span>
	</div>
</div>
<!-- inputfield_text_02 end -->
<!-- inputfield_text_04 begin -->
<!-- 1行テキスト04 -->
<div class="control-group %_text_04_if_error_% %_text_04_if_required_%">
<label class="control-label" for="text_04">%_text_04_local_name_% <abbr id="text_04_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_text_04_%</span>
	</div>
</div>
<!-- inputfield_text_04 end -->
<!-- inputfield_radio_04 begin -->
<!-- ラジオボタン04 -->
<div class="control-group %_radio_04_if_error_% %_radio_04_if_required_%">
<label class="control-label">%_radio_04_local_name_% <abbr id="radio_04_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_radio_04_%</span>
	</div>
</div>
<!-- inputfield_radio_04 end -->
<!-- inputfield_tel begin -->
<!-- 電話番号 -->
<div class="control-group %_tel_if_error_% %_tel_if_required_%">
<label class="control-label" for="tel">%_tel_local_name_% <abbr id="tel_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_tel_%</span>
	</div>
</div>
<!-- inputfield_tel end -->
<!-- inputfield_mail begin -->
<!-- メールアドレス -->
<div class="control-group %_mail_if_error_% %_mail_if_required_%">
<label class="control-label" for="mail">%_mail_local_name_% <abbr id="mail_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_mail_%</span>
	</div>
</div>
<!-- inputfield_mail end -->
<!-- inputfield_radio_01 begin -->
<!-- ラジオボタン01 -->
<div class="control-group %_radio_01_if_error_% %_radio_01_if_required_%">
<label class="control-label">%_radio_01_local_name_% <abbr id="radio_01_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_radio_01_%</span>
	</div>
</div>
<!-- inputfield_radio_01 end -->
<!-- inputfield_pref begin -->
<!-- 都道府県 -->
<div class="control-group %_pref_if_error_% %_pref_if_required_%">
<label class="control-label" for="pref">%_pref_local_name_% <abbr id="pref_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_pref_%</span>
	</div>
</div>
<!-- inputfield_pref end -->
<!-- inputfield_text_03 begin -->
<!-- 1行テキスト03 -->
<div class="control-group %_text_03_if_error_% %_text_03_if_required_%">
<label class="control-label" for="text_03">%_text_03_local_name_% <abbr id="text_03_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_text_03_%</span>
	</div>
</div>
<!-- inputfield_text_03 end -->
<!-- inputfield_message begin -->
<!-- お問合せ内容 -->
<div class="control-group %_message_if_error_% %_message_if_required_%">
<label class="control-label" for="message">%_message_local_name_% <abbr id="message_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_message_%</span>
	</div>
</div>
<!-- inputfield_message end -->
<!-- inputfield_checkbox_03 begin -->
<!-- チェックボックス03 -->
<div class="control-group %_checkbox_03_if_error_% %_checkbox_03_if_required_%">
<label class="control-label">%_checkbox_03_local_name_% <abbr id="checkbox_03_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_checkbox_03_%</span>
	</div>
</div>
<!-- inputfield_checkbox_03 end -->
<!-- inputfield_checkbox_04 begin -->
<!-- チェックボックス04 -->
<div class="control-group %_checkbox_04_if_error_% %_checkbox_04_if_required_%">
<label class="control-label">%_checkbox_04_local_name_% <abbr id="checkbox_04_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_checkbox_04_%</span>
	</div>
</div>
<!-- inputfield_checkbox_04 end -->
<!-- inputfield_radio_02 begin -->
<!-- ラジオボタン02 -->
<div class="control-group %_radio_02_if_error_% %_radio_02_if_required_%">
<label class="control-label">%_radio_02_local_name_% <abbr id="radio_02_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_radio_02_%</span>
	</div>
</div>
<!-- inputfield_radio_02 end -->
<!-- inputfield_select_02 begin -->
<!-- 選択リスト02 -->
<div class="control-group %_select_02_if_error_% %_select_02_if_required_%">
<label class="control-label" for="select_02">%_select_02_local_name_% <abbr id="select_02_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_select_02_%</span>
	</div>
</div>
<!-- inputfield_select_02 end -->
<!-- inputfield_radio_03 begin -->
<!-- ラジオボタン03 -->
<div class="control-group %_radio_03_if_error_% %_radio_03_if_required_%">
<label class="control-label">%_radio_03_local_name_% <abbr id="radio_03_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_radio_03_%</span>
	</div>
</div>
<!-- inputfield_radio_03 end -->
<!-- inputfield_checkbox_01 begin -->
<!-- チェックボックス01 -->
<div class="control-group %_checkbox_01_if_error_% %_checkbox_01_if_required_%">
<label class="control-label">%_checkbox_01_local_name_% <abbr id="checkbox_01_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_checkbox_01_%</span>
	</div>
</div>
<!-- inputfield_checkbox_01 end -->
<!-- inputfield_checkbox_02 begin -->
<!-- チェックボックス02 -->
<div class="control-group %_checkbox_02_if_error_% %_checkbox_02_if_required_%">
<label class="control-label">%_checkbox_02_local_name_% <abbr id="checkbox_02_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_checkbox_02_%</span>
	</div>
</div>
<!-- inputfield_checkbox_02 end -->
</fieldset>
<!--    not    -->
<!-- inputfield_text_05 begin -->
<!-- 1行テキスト05 -->
<div class="control-group %_text_05_if_error_% %_text_05_if_required_%">
<label class="control-label" for="text_05">%_text_05_local_name_% <abbr id="text_05_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_text_05_%</span>
	</div>
</div>
<!-- inputfield_text_05 end -->


<!-- inputfield_text_06 begin -->
<!-- 1行テキスト06 -->
<div class="control-group %_text_06_if_error_% %_text_06_if_required_%">
<label class="control-label" for="text_06">%_text_06_local_name_% <abbr id="text_06_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_text_06_%</span>
	</div>
</div>
<!-- inputfield_text_06 end -->


<!-- inputfield_text_07 begin -->
<!-- 1行テキスト07 -->
<div class="control-group %_text_07_if_error_% %_text_07_if_required_%">
<label class="control-label" for="text_07">%_text_07_local_name_% <abbr id="text_07_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_text_07_%</span>
	</div>
</div>
<!-- inputfield_text_07 end -->


<!-- inputfield_text_08 begin -->
<!-- 1行テキスト08 -->
<div class="control-group %_text_08_if_error_% %_text_08_if_required_%">
<label class="control-label" for="text_08">%_text_08_local_name_% <abbr id="text_08_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_text_08_%</span>
	</div>
</div>
<!-- inputfield_text_08 end -->


<!-- inputfield_text_09 begin -->
<!-- 1行テキスト09 -->
<div class="control-group %_text_09_if_error_% %_text_09_if_required_%">
<label class="control-label" for="text_09">%_text_09_local_name_% <abbr id="text_09_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_text_09_%</span>
	</div>
</div>
<!-- inputfield_text_09 end -->


<!-- inputfield_text_10 begin -->
<!-- 1行テキスト10 -->
<div class="control-group %_text_10_if_error_% %_text_10_if_required_%">
<label class="control-label" for="text_10">%_text_10_local_name_% <abbr id="text_10_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_text_10_%</span>
	</div>
</div>
<!-- inputfield_text_10 end -->


<!-- inputfield_text_11 begin -->
<!-- 1行テキスト11 -->
<div class="control-group %_text_11_if_error_% %_text_11_if_required_%">
<label class="control-label" for="text_11">%_text_11_local_name_% <abbr id="text_11_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_text_11_%</span>
	</div>
</div>
<!-- inputfield_text_11 end -->


<!-- inputfield_text_12 begin -->
<!-- 1行テキスト12 -->
<div class="control-group %_text_12_if_error_% %_text_12_if_required_%">
<label class="control-label" for="text_12">%_text_12_local_name_% <abbr id="text_12_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_text_12_%</span>
	</div>
</div>
<!-- inputfield_text_12 end -->


<!-- inputfield_text_13 begin -->
<!-- 1行テキスト13 -->
<div class="control-group %_text_13_if_error_% %_text_13_if_required_%">
<label class="control-label" for="text_13">%_text_13_local_name_% <abbr id="text_13_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_text_13_%</span>
	</div>
</div>
<!-- inputfield_text_13 end -->


<!-- inputfield_text_14 begin -->
<!-- 1行テキスト14 -->
<div class="control-group %_text_14_if_error_% %_text_14_if_required_%">
<label class="control-label" for="text_14">%_text_14_local_name_% <abbr id="text_14_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_text_14_%</span>
	</div>
</div>
<!-- inputfield_text_14 end -->


<!-- inputfield_text_15 begin -->
<!-- 1行テキスト15 -->
<div class="control-group %_text_15_if_error_% %_text_15_if_required_%">
<label class="control-label" for="text_15">%_text_15_local_name_% <abbr id="text_15_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_text_15_%</span>
	</div>
</div>
<!-- inputfield_text_15 end -->


<!-- inputfield_text_16 begin -->
<!-- 1行テキスト16 -->
<div class="control-group %_text_16_if_error_% %_text_16_if_required_%">
<label class="control-label" for="text_16">%_text_16_local_name_% <abbr id="text_16_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_text_16_%</span>
	</div>
</div>
<!-- inputfield_text_16 end -->


<!-- inputfield_text_17 begin -->
<!-- 1行テキスト17 -->
<div class="control-group %_text_17_if_error_% %_text_17_if_required_%">
<label class="control-label" for="text_17">%_text_17_local_name_% <abbr id="text_17_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_text_17_%</span>
	</div>
</div>
<!-- inputfield_text_17 end -->


<!-- inputfield_text_18 begin -->
<!-- 1行テキスト18 -->
<div class="control-group %_text_18_if_error_% %_text_18_if_required_%">
<label class="control-label" for="text_18">%_text_18_local_name_% <abbr id="text_18_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_text_18_%</span>
	</div>
</div>
<!-- inputfield_text_18 end -->


<!-- inputfield_text_19 begin -->
<!-- 1行テキスト19 -->
<div class="control-group %_text_19_if_error_% %_text_19_if_required_%">
<label class="control-label" for="text_19">%_text_19_local_name_% <abbr id="text_19_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_text_19_%</span>
	</div>
</div>
<!-- inputfield_text_19 end -->


<!-- inputfield_text_20 begin -->
<!-- 1行テキスト20 -->
<div class="control-group %_text_20_if_error_% %_text_20_if_required_%">
<label class="control-label" for="text_20">%_text_20_local_name_% <abbr id="text_20_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_text_20_%</span>
	</div>
</div>
<!-- inputfield_text_20 end -->


<!-- inputfield_area_01 begin -->
<!-- テキストエリア01 -->
<div class="control-group %_area_01_if_error_% %_area_01_if_required_%">
<label class="control-label" for="area_01">%_area_01_local_name_% <abbr id="area_01_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_area_01_%</span>
	</div>
</div>
<!-- inputfield_area_01 end -->


<!-- inputfield_area_02 begin -->
<!-- テキストエリア02 -->
<div class="control-group %_area_02_if_error_% %_area_02_if_required_%">
<label class="control-label" for="area_02">%_area_02_local_name_% <abbr id="area_02_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_area_02_%</span>
	</div>
</div>
<!-- inputfield_area_02 end -->


<!-- inputfield_area_03 begin -->
<!-- テキストエリア03 -->
<div class="control-group %_area_03_if_error_% %_area_03_if_required_%">
<label class="control-label" for="area_03">%_area_03_local_name_% <abbr id="area_03_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_area_03_%</span>
	</div>
</div>
<!-- inputfield_area_03 end -->


<!-- inputfield_area_04 begin -->
<!-- テキストエリア04 -->
<div class="control-group %_area_04_if_error_% %_area_04_if_required_%">
<label class="control-label" for="area_04">%_area_04_local_name_% <abbr id="area_04_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_area_04_%</span>
	</div>
</div>
<!-- inputfield_area_04 end -->


<!-- inputfield_area_05 begin -->
<!-- テキストエリア05 -->
<div class="control-group %_area_05_if_error_% %_area_05_if_required_%">
<label class="control-label" for="area_05">%_area_05_local_name_% <abbr id="area_05_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_area_05_%</span>
	</div>
</div>
<!-- inputfield_area_05 end -->

<!-- inputfield_radio_05 begin -->
<!-- ラジオボタン05 -->
<div class="control-group %_radio_05_if_error_% %_radio_05_if_required_%">
<label class="control-label">%_radio_05_local_name_% <abbr id="radio_05_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_radio_05_%</span>
	</div>
</div>
<!-- inputfield_radio_05 end -->


<!-- inputfield_radio_06 begin -->
<!-- ラジオボタン06 -->
<div class="control-group %_radio_06_if_error_% %_radio_06_if_required_%">
<label class="control-label">%_radio_06_local_name_% <abbr id="radio_06_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_radio_06_%</span>
	</div>
</div>
<!-- inputfield_radio_06 end -->


<!-- inputfield_radio_07 begin -->
<!-- ラジオボタン07 -->
<div class="control-group %_radio_07_if_error_% %_radio_07_if_required_%">
<label class="control-label">%_radio_07_local_name_% <abbr id="radio_07_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_radio_07_%</span>
	</div>
</div>
<!-- inputfield_radio_07 end -->


<!-- inputfield_radio_08 begin -->
<!-- ラジオボタン08 -->
<div class="control-group %_radio_08_if_error_% %_radio_08_if_required_%">
<label class="control-label">%_radio_08_local_name_% <abbr id="radio_08_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_radio_08_%</span>
	</div>
</div>
<!-- inputfield_radio_08 end -->


<!-- inputfield_radio_09 begin -->
<!-- ラジオボタン09 -->
<div class="control-group %_radio_09_if_error_% %_radio_09_if_required_%">
<label class="control-label">%_radio_09_local_name_% <abbr id="radio_09_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_radio_09_%</span>
	</div>
</div>
<!-- inputfield_radio_09 end -->


<!-- inputfield_radio_10 begin -->
<!-- ラジオボタン10 -->
<div class="control-group %_radio_10_if_error_% %_radio_10_if_required_%">
<label class="control-label">%_radio_10_local_name_% <abbr id="radio_10_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_radio_10_%</span>
	</div>
</div>
<!-- inputfield_radio_10 end -->
<!-- inputfield_checkbox_05 begin -->
<!-- チェックボックス05 -->
<div class="control-group %_checkbox_05_if_error_% %_checkbox_05_if_required_%">
<label class="control-label">%_checkbox_05_local_name_% <abbr id="checkbox_05_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_checkbox_05_%</span>
	</div>
</div>
<!-- inputfield_checkbox_05 end -->
<!-- inputfield_select_03 begin -->
<!-- 選択リスト03 -->
<div class="control-group %_select_03_if_error_% %_select_03_if_required_%">
<label class="control-label" for="select_03">%_select_03_local_name_% <abbr id="select_03_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_select_03_%</span>
	</div>
</div>
<!-- inputfield_select_03 end -->


<!-- inputfield_select_04 begin -->
<!-- 選択リスト04 -->
<div class="control-group %_select_04_if_error_% %_select_04_if_required_%">
<label class="control-label" for="select_04">%_select_04_local_name_% <abbr id="select_04_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_select_04_%</span>
	</div>
</div>
<!-- inputfield_select_04 end -->


<!-- inputfield_select_05 begin -->
<!-- 選択リスト05 -->
<div class="control-group %_select_05_if_error_% %_select_05_if_required_%">
<label class="control-label" for="select_05">%_select_05_local_name_% <abbr id="select_05_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_select_05_%</span>
	</div>
</div>
<!-- inputfield_select_05 end -->

<!-- 姓・名
<div class="control-group %_surname_if_error_% %_surname_if_required_% %_firstname_if_error_% %_firstname_if_required_%">
<label class="control-label" for="fullname">お名前 <abbr id="surname_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls form-inline" id="fullname">
		-->
	<!-- inputfield_surname begin -->
	<!--
	<span class="help-inline">%_surname_%</span>
-->
	<!-- inputfield_surname end -->
	<!-- inputfield_firstname begin -->
	<!--
	<span class="help-inline">%_firstname_%</span>
-->
	<!-- inputfield_firstname end -->
	<!--
	</div>
</div>
-->
<!-- inputfield_zip begin -->
<!-- 郵便番号
<div class="control-group %_zip_if_error_% %_zip_if_required_%">
<label class="control-label" for="zip">%_zip_local_name_% <abbr id="zip_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_zip_%</span>
	</div>
</div>
 -->
<!-- inputfield_zip end -->
<!-- inputfield_city begin -->
<!-- 市区町村
<div class="control-group %_city_if_error_% %_city_if_required_%">
<label class="control-label" for="city">%_city_local_name_% <abbr id="city_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_city_%</span>
	</div>
</div>
 -->
<!-- inputfield_city end -->


<!-- inputfield_street begin -->
<!-- 町名・番地
<div class="control-group %_street_if_error_% %_street_if_required_%">
<label class="control-label" for="street">%_street_local_name_% <abbr id="street_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_street_%</span>
	</div>
</div>
-->
<!-- inputfield_street end -->


<!-- inputfield_bldg begin -->
<!-- ビル名/会社名
<div class="control-group %_bldg_if_error_% %_bldg_if_required_%">
<label class="control-label" for="bldg">%_bldg_local_name_% <abbr id="bldg_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-conf">%_bldg_%</span>
	</div>
</div>
 -->
<!-- inputfield_bldg end -->
<!--    /not    -->
<button type="submit" class="form_btn mt_20 mb_20" onClick="ga('send', 'event', 'Click', 'inquiry', 'send_button');">送信</button>
<button type="button" class="form_btn_back mb_20" form="sugu_backform" onclick="document.getElementById('sugu_backform').submit();">入力を修正</button>
</form>

<form action="input.html" method="post" id="sugu_backform">
<input type="hidden" name="s" value="1" />
<input type="hidden" name="i" value="%_i_%">
</form>

</div><!-- /span12 -->
</div><!-- /row -->
<footer class="row gutters col">
		<div class="footer_inner container row">
			<div>
			<ul class="form_fotter_menu footer_arrow">
			<li><a href="http://a-dreamlaw.com/">トップページへ</a></li>
			<li><a href="http://a-dreamlaw.com/sitemap/">サイトマップ</a></li>
			<li class="out_link2"><a href="http://a-dreamlaw.com/public/" target="blank">プライバシーポリシー</a></li>
		</ul>
			</div>
			</div>
		</div>
	</footer>
	<footer class="sp_footer row">
		<ul>
			<li><a href="http://a-dreamlaw.com/">トップページへ</a></li>
			<li><a href="http://a-dreamlaw.com/sitemap/">サイトマップ</a></li>
			<li><a href="http://a-dreamlaw.com/public/" target="blank">プライバシーポリシー</a></li>
		</ul>
			<p class="txt_C">&copy; Copyright 2015 弁護士法人 淡路町ドリーム All Rights Reserved.</p>
	</footer>
	<div class="container copy row">
			<p class="txt_C">創業平成9年 法律問題でお悩みなら弁護士法人 淡路町ドリーム</p>
			<p class="txt_C">&copy; Copyright 2015 弁護士法人 淡路町ドリーム All Rights Reserved.</p>
	</div>
<script src="http://a-dreamlaw.com/common/scripts/jquery-2.1.3.min.js"></script>
<script src="http://a-dreamlaw.com/common/scripts/respond.min.js"></script>
<script>
//トグルメニュー
 $(function(){
  $("#toggle").click(function(){
    $("#menu").slideToggle();
    return false;
  });
  $(window).resize(function(){
    var win = $(window).width();
    var p = 480;
    if(win > p){
      $("#menu").show();
    } else {
      $("#menu").hide();
    }
  });
});

 //トップへ戻る
 $(function() {
    var topBtn = $('#page-top');
    topBtn.hide();
    //スクロールが100に達したらボタン表示
    $(window).scroll(function () {
        if ($(this).scrollTop() > 10) {
            topBtn.fadeIn();
        } else {
            topBtn.fadeOut();
        }
    });
    //スクロールしてトップ
    topBtn.click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 500);
        return false;
    });
});

	   //電話発信制御
	$(function() {
    if (!isPhone())
        return;

    $('span[data-action=call]').each(function() {
        var $ele = $(this);
        $ele.wrap('<a href="tel:' + $ele.data('tel') + '"></a>');
    });
});

function isPhone() {
    return (navigator.userAgent.indexOf('iPhone') > 0 || navigator.userAgent.indexOf('Android') > 0);
}
</script>
<script src="//sitest.jp/tracking/sitest_js?p=55ee78579cc2d"></script>

<!-- GS Yahoo! Tag Manager -->
<script type="text/javascript">
  (function () {
    var tagjs = document.createElement("script");
    var s = document.getElementsByTagName("script")[0];
    tagjs.async = true;
    tagjs.src = "//s.yjtag.jp/tag.js#site=2y6GWNB";
    s.parentNode.insertBefore(tagjs, s);
  }());
</script>
<noscript>
  <iframe src="//b.yjtag.jp/iframe?c=2y6GWNB" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</noscript>
<!-- GS Yahoo! Tag Manager -->
</body>
</html>
