<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>お問い合わせフォーム | 弁護士法人淡路町ドリーム</title>
<meta name="description" content="離婚・相続問題（家事）、建築問題に強い、弁護士法人淡路町ドリーム。所属する7名の弁護士が専門性を発揮し、ご相談者様に笑顔を届けます。淡路町駅、小川町駅徒歩1分。03-3525-8010" />
<meta name="keywords" content="弁護士,離婚,モラハラ,不倫,不貞,別居,DV,女性,調停,協議離婚,訴訟,建築,不動産,淡路町,千代田区,東京,弁護士,淡路町ドリーム" />
<meta name="viewport" content="width=device-width, user-scalable=yes">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="/common/images/favicon.ico" >
<link rel="stylesheet" media="all" href="/common/css/base.css" />
<link rel="stylesheet" media="all" href="/common/css/second.css" />
<link rel="stylesheet" media="all" href="/common/css/contact.css" />

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '200999973585283');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=200999973585283&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

</head>
<body>
<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WL2L4J"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-WL2L4J');</script>
<!-- End Google Tag Manager -->

<!-- <header> -->
<!-- google-analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-9561304-10', 'auto');
  ga('send', 'pageview');

</script>

<header class="row">
	<div class="header_inner row container">
		<div class="header_left col span_6">
				<p id="page-top"><a href="#wrap" class="fade"><img src="/common/images/page_top.jpg" class="img_rounded"><br><span class="font_s">TOPへ</span></a></p>
			<div class="logo">
				<a href="/"><img src="/common/images/logo.png" width="308" height="47" alt="弁護士法人淡路町ドリーム"></a>
				<p class="sp_txt_C">営業　8:00～21:00（平日）/ 9:00～18:00（土日・祝）<br>
        受付　24時間対応</p>
			</div>
		</div>
		<div class="header_right col span_6">
			<div class="info">
			<figure>
				<a href="/contact/" id="form_pchead_gtm" class="fade"><img src="/common/images/form_contact.jpg"　width="408" height="67" alt="無料相談、土日祝日も相談可能！お気軽にご相談ください。03-3525-8010"></a>
			</figure>
			</div>
		</div>
		</div>
	</header><!--/header-->
	<ul class="header_contact_sp row">
		<li class="header_sp_left"><a href="tel:03-3525-8010" onclick="ga('send', 'event', 'CTA', 'Click', 'tel');">
      <img src="/common/images/header_tel.jpg" alt="Call:03-3525-8010" width="400" height="100" onclick="yahoo_report_conversion(undefined); goog_report_conversion('tel:03-3525-8010')" /></a></li>
		<li class="header_sp_right"><a href="/contact/"><img src="/common/images/header_mail_sp.jpg" alt="メールでのお問い合わせ"></a></li>
	</ul>
	<p class="txt_C txt_red header_appeal">無料相談 土日祝日対応<br>ご相談は、ご来所が必要です。</p>
<!-- </header> -->

	<div class="form_head_sp">
	<figure class="img_center">
				<a onclick="goog_report_conversion('tel:0335258010');ga('send', 'event', 'adreamlaw', 'tel', 'label');return false;" href="tel:0335258010" ><img src="/common/images/header_tel.jpg" alt="電話でのお問い合わせ" width="160" height="50"></a>
			</figure>
		</div>
		<div class="contact_header"></div>
<!--/include_head-->
<div class="row container">
<div class="span12">
<h1 class="sct_h1">お問合せフォーム</h1>
<ul class="flow-list">
 <li class="flow_active">入力</li>
 <li class="flow">確認</li>
 <li class="flow">完了</li>
</ul>

<!--
%_msg_class_%		エラーがある時「error」ない時「info」
%_msg_instruct_%	メッセージ
-->

<div class="text-%_msg_class_% mb_20 pl_10">
%_msg_instruct_%<br>
<span class="txt_red">※</span>がついている箇所は必須項目となります。
</div>
<h2 class="sct_h2">お客様情報</h2>
<!-- form の id 属性は変更不可 -->
<form class="form-horizontal" method="post" action="confirm.html" id="sugu_mainform">
<input type="hidden" name="s" value="2">
<input type="hidden" name="i" value="%_i_%">

<!--
フィールドの設定です。
管理画面で「使用しない」を選んだ項目については
コメントで挿入されている xxx begin  から  xxx end までが
自動的に削除されます。

管理画面での設定と関係なくこれらのフィールドの表示を残したい場合は
コメントを削除して下さい。


コメントで挿入されている xxx_item begin から xxx_item end までは、
管理画面で設定した繰り返しの選択肢の表示に使われます。
もし個別に表示する内容を設定したい場合は、このコメントを削除して編集して下さい。



id属性やname属性、コメントに含まれている 「inputfield_xxx」の部分は
プログラムでフィールドの識別に使いますので変更しないで下さい。

入力エラーなどの状態によって、いくつかの値はそれぞれ以下のように置き換えられます。
フィールドを組み合わせる場合などは削除して別の設定を行って構いません。

%_xxx_local_name_%			管理画面で設定した「項目名」
%_xxx_if_required_%		管理画面で必須設定がされていれば「required」
%_xxx_maxlength_%		管理画面で設定されていれば最大文字長さ
%_xxx_if_error_%		xxxx の項目の入力にエラーがあれば「error」
%_xxx_msg_%				そのフィールドにエラーがあった場合、エラーの内容

-->

<fieldset>
<!--
<legend>ご連絡先情報</legend>
-->
<!-- inputfield_select_01 begin -->
<!-- 選択リスト01 -->
<div class="control-group %_select_01_if_error_% %_select_01_if_required_%">
<label class="control-label" for="select_01">%_select_01_local_name_% </span><abbr id="select_01_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_select_01_msg_%</span>
	<select name="select_01" id="select_01">
	<option value="">選択して下さい</option>
	<!--inputfield_select_01_item begin -->
	<option value="%_value_%" id="select_01_%_no_%">%_value_%</option>
	<!-- inputfield_select_01_item end -->
	</select>
	</div>
</div>
<!-- inputfield_select_01 end -->
<!-- inputfield_text_01 begin -->
<!-- 1行テキスト01 -->
<div class="control-group %_text_01_if_error_% %_text_01_if_required_%">
<label class="control-label" for="text_01">%_text_01_local_name_% <abbr id="text_01_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_text_01_msg_%</span>
	<input class="input-mini" type="text" name="text_01" id="text_01" value="%_text_01_%" placeholder="フルネームでご記入ください" maxlength="%_text_01_maxlength_%">
	</div>
</div>
<!-- inputfield_text_01 end -->
<!-- inputfield_text_02 begin -->
<!-- 1行テキスト02 -->
<div class="control-group %_text_02_if_error_% %_text_02_if_required_%">
<label class="control-label" for="text_02">%_text_02_local_name_% <abbr id="text_02_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_text_02_msg_%</span>
	<input class="input-small" type="text" name="text_02" id="text_02" value="%_text_02_%" placeholder="フルネームでご記入ください" maxlength="%_text_02_maxlength_%">
	</div>
</div>
<!-- inputfield_text_02 end -->
<!-- inputfield_text_04 begin -->
<!-- 1行テキスト04 -->
<div class="control-group %_text_04_if_error_% %_text_04_if_required_%">
<label class="control-label" for="text_04">%_text_04_local_name_% <abbr id="text_04_required" class="required" title="必須項目">※<br></abbr></label>
	<div class="controls">
	<span class="help-block">%_text_04_msg_%</span>
	<input class="input-large" type="text" name="text_04" id="text_04" value="%_text_04_%" placeholder="例：弁護士法人　淡路町ドリーム" maxlength="%_text_04_maxlength_%" ><br>
	<span class="form_lavel_info">法人名でお問い合わせのお客様はご記入ください。</span>
	</div>
</div>
<!-- inputfield_text_04 end -->
<!-- inputfield_radio_04 begin -->
<!-- ラジオボタン04 -->
<div class="control-group %_radio_04_if_error_% %_radio_04_if_required_%">
<label class="control-label">%_radio_04_local_name_% <abbr id="radio_04_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_radio_04_msg_%</span>
	<!-- inputfield_radio_04_item begin -->
	<label class="radio">
	<input type="radio" name="radio_04" id="radio_04_%_no_%" value="%_value_%">%_value_%
	</label>
	<!-- inputfield_radio_04_item end -->
	</div>
</div>
<!-- inputfield_radio_04 end -->

<!-- inputfield_text_05 begin -->
<!-- 1行テキスト05 -->
<div class="control-group %_text_05_if_error_% %_text_05_if_required_%">
<label class="control-label" for="text_05">%_text_05_local_name_% <abbr id="text_05_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_text_05_msg_%</span>
	<input class="input-large" type="text" name="text_05" id="text_05" value="%_text_05_%" placeholder="フルネームでご記入ください" maxlength="%_text_05_maxlength_%"><br />
	<span class="form_lavel_info">利益相反確認のためにご協力ください。<br />※利益相反とは：受任している依頼者や相談者と利害が対立するために、法律や弁護士職務基本規定によって、事件を受けられない場合のこと</span>
    </div>
</div>
<!-- inputfield_text_05 end -->


<!-- inputfield_tel begin -->
<!-- 電話番号 -->
<div class="control-group %_tel_if_error_% %_tel_if_required_%">
<label class="control-label" for="tel">%_tel_local_name_% <abbr id="tel_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_tel_msg_%</span>
	<input class="input-medium" type="text" name="tel" id="tel" value="%_tel_%" placeholder="例：03-1234-5678" maxlength="%_tel_maxlength_%" >
	</div>
</div>
<!-- inputfield_tel end -->

<!-- inputfield_mail begin -->
<!-- メールアドレス -->
<div class="control-group %_mail_if_error_% %_mail_if_required_%">
<label class="control-label" for="mail">%_mail_local_name_% <abbr id="mail_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_mail_msg_%</span>
	<input class="input-large" type="email" name="mail" id="mail" value="%_mail_%" placeholder="半角で入力して下さい" maxlength="%_mail_maxlength_%" >
	</div>
</div>
<!-- inputfield_mail end -->


<!-- inputfield_mail_conf begin -->
<!-- メールアドレス（確認） -->
<!-- <div class="control-group %_mail_conf_if_error_% %_mail_conf_if_required_%">
<label class="control-label" for="mail_conf">%_mail_conf_local_name_% <abbr id="mail_conf_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_mail_conf_msg_%</span>
	<input class="input-large" type="email" name="mail_conf" id="mail_conf" value="%_mail_conf_%" placeholder="確認用にもう一度入力して下さい" maxlength="%_mail_conf_maxlength_%" >
	</div>
</div> -->
<!-- iinputfield_mail_conf end -->
<!-- inputfield_radio_01 begin -->
<!-- ラジオボタン01 -->
<div class="control-group %_radio_01_if_error_% %_radio_01_if_required_%">
<label class="control-label">%_radio_01_local_name_% <abbr id="radio_01_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls radio_style1">
	<span class="help-block">%_radio_01_msg_%</span>
	<!-- inputfield_radio_01_item begin -->
	<label class="radio">
	<input type="radio" name="radio_01" id="radio_01_%_no_%" value="%_value_%">%_value_%
	</label>
	<!-- inputfield_radio_01_item end -->
	</div>
</div>
<!-- inputfield_radio_01 end -->
<!-- inputfield_pref begin -->
<!-- 都道府県 -->
<div class="control-group %_pref_if_error_% %_pref_if_required_%">
<label class="control-label" for="pref">%_pref_local_name_% <abbr id="pref_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_pref_msg_%</span>
	<select class="input-medium" name="pref" id="pref">
	<option value="">選択して下さい</option>
	<!--inputfield_pref_item begin -->
	<option value="%_value_%" id="pref_%_no_%">%_value_%</option>
	<!-- inputfield_pref_item end -->
	</select>
	</div>
</div>
<!-- inputfield_pref end -->
<!-- inputfield_text_03 begin -->
<!-- 1行テキスト03 -->
<div class="control-group %_text_03_if_error_% %_text_03_if_required_%">
<label class="control-label" for="text_03">%_text_03_local_name_% <abbr id="text_03_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_text_03_msg_%</span>
	<span class="form_input_info">第1希望</span><input class="input-medium mb_10" type="text" name="text_03" id="text_03" value="%_text_03_%" placeholder="例:01/10 午前中" maxlength="%_text_03_maxlength_%"><br>
	<span class="form_input_info">第2希望</span><input class="input-medium mb_10" type="text" name="text_03" id="text_03" value="%_text_03_%" placeholder="例:02/01 10時?12時" maxlength="%_text_03_maxlength_%"><br>
	<span class="form_input_info">第3希望</span><input class="input-medium" type="text" name="text_03" id="text_03" value="%_text_03_%" placeholder="例:03/01 13時以降" maxlength="%_text_03_maxlength_%">
	</div>
</div>
<!-- inputfield_text_03 end -->
<!-- inputfield_message begin -->
<!-- お問合せ内容 -->
<div class="control-group %_message_if_error_% %_message_if_required_%">
<label class="control-label" for="message">%_message_local_name_% <abbr id="message_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_message_msg_%</span>
	<textarea class="input-xxlarge" rows="5" name="message" id="message" placeholder="ご相談内容をお書きください。">%_message_%</textarea>
	</div>
</div>
<!-- inputfield_message end -->
<!-- inputfield_checkbox_03 begin -->
<!-- チェックボックス03 -->
<div class="control-group %_checkbox_03_if_error_% %_checkbox_03_if_required_%">
<label class="control-label">%_checkbox_03_local_name_% <abbr id="checkbox_03_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_checkbox_03_msg_%</span>
	<!-- inputfield_checkbox_03_item begin -->
	<label class="checkbox inline">
	<input type="checkbox" name="checkbox_03" id="checkbox_03_%_no_%" value="%_value_%">%_value_%
	</label>
	<!-- inputfield_checkbox_03_item end -->
	</div>
</div>
<!-- inputfield_checkbox_03 end -->
</fieldset>

<!-- 離婚非必須項目2015/09/16非表示分　<h3 class="sct_h3">以下は離婚・相続問題（家事）の項目になります。</h3>
<fieldset> -->
	<!-- inputfield_checkbox_04 begin -->
<!-- チェックボックス04 -->
<div class="control-group %_checkbox_04_if_error_% %_checkbox_04_if_required_%">
<label class="control-label">%_checkbox_04_local_name_% <abbr id="checkbox_04_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_checkbox_04_msg_%</span>
	<!-- inputfield_checkbox_04_item begin -->
	<label class="checkbox inline">
	<input type="checkbox" name="checkbox_04" id="checkbox_04_%_no_%" value="%_value_%">%_value_%
	</label>
	<!-- inputfield_checkbox_04_item end -->
	</div>
</div>
<!-- inputfield_checkbox_04 end -->
<!-- inputfield_radio_02 begin -->
<!-- ラジオボタン02 -->
<div class="control-group %_radio_02_if_error_% %_radio_02_if_required_%">
<label class="control-label">%_radio_02_local_name_% <abbr id="radio_02_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_radio_02_msg_%</span>
	<!-- inputfield_radio_02_item begin -->
	<label class="radio inline">
	<input type="radio" name="radio_02" id="radio_02_%_no_%" value="%_value_%">%_value_%
	</label>
	<!-- inputfield_radio_02_item end -->
	</div>
</div>
<!-- inputfield_radio_02 end -->
<!-- inputfield_select_02 begin -->
<!-- 選択リスト02 -->
<div class="control-group %_select_02_if_error_% %_select_02_if_required_%">
<label class="control-label" for="select_02">%_select_02_local_name_% <abbr id="select_02_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_select_02_msg_%</span>
	<select name="select_02" id="select_02">
	<option value="">選択して下さい</option>
	<!--inputfield_select_02_item begin -->
	<option value="%_value_%" id="select_02_%_no_%">%_value_%</option>
	<!-- inputfield_select_02_item end -->
	</select>
	</div>
</div>
<!-- inputfield_select_02 end -->
<!-- inputfield_radio_03 begin -->
<!-- ラジオボタン03 -->
<div class="control-group %_radio_03_if_error_% %_radio_03_if_required_%">
<label class="control-label">%_radio_03_local_name_% <abbr id="radio_03_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_radio_03_msg_%</span>
	<!-- inputfield_radio_03_item begin -->
	<label class="radio">
	<input type="radio" name="radio_03" id="radio_03_%_no_%" value="%_value_%">%_value_%
	</label>
	<!-- inputfield_radio_03_item end -->
	</div>
</div>
<!-- inputfield_radio_03 end -->
<!-- inputfield_checkbox_01 begin -->
<!-- チェックボックス01 -->
<div class="control-group %_checkbox_01_if_error_% %_checkbox_01_if_required_%">
<label class="control-label">%_checkbox_01_local_name_% <abbr id="checkbox_01_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_checkbox_01_msg_%</span>
	<!-- inputfield_checkbox_01_item begin -->
	<label class="checkbox checkbox_style01 inline">
		<input type="checkbox" name="checkbox_01" id="checkbox_01_%_no_%" value="%_value_%">%_value_%
	</label>
	<!-- inputfield_checkbox_01_item end -->
	</div>
</div>
<!-- inputfield_checkbox_01 end -->
<!-- inputfield_checkbox_02 begin -->
<!-- チェックボックス02 -->
<div class="control-group %_checkbox_02_if_error_% %_checkbox_02_if_required_%">
<label class="control-label">%_checkbox_02_local_name_% <abbr id="checkbox_02_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_checkbox_02_msg_%</span>
	<!-- inputfield_checkbox_02_item begin -->
	<label class="checkbox checkbox_style02">
	<input type="checkbox" name="checkbox_02" id="checkbox_02_%_no_%" value="%_value_%">%_value_%
	</label>
	<!-- inputfield_checkbox_02_item end -->
	</div>
</div>
<!-- inputfield_checkbox_02 end -->
</fieldset>
<!--    not    -->

<!-- inputfield_text_06 begin -->
<!-- 1行テキスト06 -->
<div class="control-group %_text_06_if_error_% %_text_06_if_required_%">
<label class="control-label" for="text_06">%_text_06_local_name_% <abbr id="text_06_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_text_06_msg_%</span>
	<input class="input-xxlarge" type="text" name="text_06" id="text_06" value="%_text_06_%" placeholder="1行テキスト06の入力案内" maxlength="%_text_06_maxlength_%">
	</div>
</div>
<!-- inputfield_text_06 end -->


<!-- inputfield_text_07 begin -->
<!-- 1行テキスト07 -->
<div class="control-group %_text_07_if_error_% %_text_07_if_required_%">
<label class="control-label" for="text_07">%_text_07_local_name_% <abbr id="text_07_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_text_07_msg_%</span>
	<input class="input-block-level" type="text" name="text_07" id="text_07" value="%_text_07_%" placeholder="1行テキスト07の入力案内" maxlength="%_text_07_maxlength_%">
	</div>
</div>
<!-- inputfield_text_07 end -->


<!-- inputfield_text_08 begin -->
<!-- 1行テキスト08 -->
<div class="control-group %_text_08_if_error_% %_text_08_if_required_%">
<label class="control-label" for="text_08">%_text_08_local_name_% <abbr id="text_08_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_text_08_msg_%</span>
	<input type="text" name="text_08" id="text_08" value="%_text_08_%" placeholder="1行テキスト08の入力案内" maxlength="%_text_08_maxlength_%">
	</div>
</div>
<!-- inputfield_text_08 end -->


<!-- inputfield_text_09 begin -->
<!-- 1行テキスト09 -->
<div class="control-group %_text_09_if_error_% %_text_09_if_required_%">
<label class="control-label" for="text_09">%_text_09_local_name_% <abbr id="text_09_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_text_09_msg_%</span>
	<input type="text" name="text_09" id="text_09" value="%_text_09_%" placeholder="1行テキスト09の入力案内" maxlength="%_text_09_maxlength_%">
	</div>
</div>
<!-- inputfield_text_09 end -->


<!-- inputfield_text_10 begin -->
<!-- 1行テキスト10 -->
<div class="control-group %_text_10_if_error_% %_text_10_if_required_%">
<label class="control-label" for="text_10">%_text_10_local_name_% <abbr id="text_10_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_text_10_msg_%</span>
	<input type="text" name="text_10" id="text_10" value="%_text_10_%" placeholder="1行テキスト10の入力案内" maxlength="%_text_10_maxlength_%">
	</div>
</div>
<!-- inputfield_text_10 end -->


<!-- inputfield_text_11 begin -->
<!-- 1行テキスト11 -->
<div class="control-group %_text_11_if_error_% %_text_11_if_required_%">
<label class="control-label" for="text_11">%_text_11_local_name_% <abbr id="text_11_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_text_11_msg_%</span>
	<input type="text" name="text_11" id="text_11" value="%_text_11_%" placeholder="1行テキスト11の入力案内" maxlength="%_text_11_maxlength_%">
	</div>
</div>
<!-- inputfield_text_11 end -->


<!-- inputfield_text_12 begin -->
<!-- 1行テキスト12 -->
<div class="control-group %_text_12_if_error_% %_text_12_if_required_%">
<label class="control-label" for="text_12">%_text_12_local_name_% <abbr id="text_12_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_text_12_msg_%</span>
	<input type="text" name="text_12" id="text_12" value="%_text_12_%" placeholder="1行テキスト12の入力案内" maxlength="%_text_12_maxlength_%">
	</div>
</div>
<!-- inputfield_text_12 end -->


<!-- inputfield_text_13 begin -->
<!-- 1行テキスト13 -->
<div class="control-group %_text_13_if_error_% %_text_13_if_required_%">
<label class="control-label" for="text_13">%_text_13_local_name_% <abbr id="text_13_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_text_13_msg_%</span>
	<input type="text" name="text_13" id="text_13" value="%_text_13_%" placeholder="1行テキスト13の入力案内" maxlength="%_text_13_maxlength_%">
	</div>
</div>
<!-- inputfield_text_13 end -->


<!-- inputfield_text_14 begin -->
<!-- 1行テキスト14 -->
<div class="control-group %_text_14_if_error_% %_text_14_if_required_%">
<label class="control-label" for="text_14">%_text_14_local_name_% <abbr id="text_14_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_text_14_msg_%</span>
	<input type="text" name="text_14" id="text_14" value="%_text_14_%" placeholder="1行テキスト14の入力案内" maxlength="%_text_14_maxlength_%">
	</div>
</div>
<!-- inputfield_text_14 end -->


<!-- inputfield_text_15 begin -->
<!-- 1行テキスト15 -->
<div class="control-group %_text_15_if_error_% %_text_15_if_required_%">
<label class="control-label" for="text_15">%_text_15_local_name_% <abbr id="text_15_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_text_15_msg_%</span>
	<input type="text" name="text_15" id="text_15" value="%_text_15_%" placeholder="1行テキスト15の入力案内" maxlength="%_text_15_maxlength_%">
	</div>
</div>
<!-- inputfield_text_15 end -->


<!-- inputfield_text_16 begin -->
<!-- 1行テキスト16 -->
<div class="control-group %_text_16_if_error_% %_text_16_if_required_%">
<label class="control-label" for="text_16">%_text_16_local_name_% <abbr id="text_16_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_text_16_msg_%</span>
	<input type="text" name="text_16" id="text_16" value="%_text_16_%" placeholder="1行テキスト16の入力案内" maxlength="%_text_16_maxlength_%">
	</div>
</div>
<!-- inputfield_text_16 end -->


<!-- inputfield_text_17 begin -->
<!-- 1行テキスト17 -->
<div class="control-group %_text_17_if_error_% %_text_17_if_required_%">
<label class="control-label" for="text_17">%_text_17_local_name_% <abbr id="text_17_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_text_17_msg_%</span>
	<input type="text" name="text_17" id="text_17" value="%_text_17_%" placeholder="1行テキスト17の入力案内" maxlength="%_text_17_maxlength_%">
	</div>
</div>
<!-- inputfield_text_17 end -->


<!-- inputfield_text_18 begin -->
<!-- 1行テキスト18 -->
<div class="control-group %_text_18_if_error_% %_text_18_if_required_%">
<label class="control-label" for="text_18">%_text_18_local_name_% <abbr id="text_18_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_text_18_msg_%</span>
	<input type="text" name="text_18" id="text_18" value="%_text_18_%" placeholder="1行テキスト18の入力案内" maxlength="%_text_18_maxlength_%">
	</div>
</div>
<!-- inputfield_text_18 end -->


<!-- inputfield_text_19 begin -->
<!-- 1行テキスト19 -->
<div class="control-group %_text_19_if_error_% %_text_19_if_required_%">
<label class="control-label" for="text_19">%_text_19_local_name_% <abbr id="text_19_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_text_19_msg_%</span>
	<input type="text" name="text_19" id="text_19" value="%_text_19_%" placeholder="1行テキスト19の入力案内" maxlength="%_text_19_maxlength_%">
	</div>
</div>
<!-- inputfield_text_19 end -->


<!-- inputfield_text_20 begin -->
<!-- 1行テキスト20 -->
<div class="control-group %_text_20_if_error_% %_text_20_if_required_%">
<label class="control-label" for="text_20">%_text_20_local_name_% <abbr id="text_20_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_text_20_msg_%</span>
	<input type="text" name="text_20" id="text_20" value="%_text_20_%" placeholder="1行テキスト20の入力案内" maxlength="%_text_20_maxlength_%">
	</div>
</div>
<!-- inputfield_text_20 end -->


<!-- inputfield_area_01 begin -->
<!-- テキストエリア01 -->
<div class="control-group %_area_01_if_error_% %_area_01_if_required_%">
<label class="control-label" for="area_01">%_area_01_local_name_% <abbr id="area_01_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_area_01_msg_%</span>
	<textarea class="input-block-level" name="area_01" id="area_01" rows="5" placeholder="テキストエリア01の入力案内">%_area_01_%</textarea>
	</div>
</div>
<!-- inputfield_area_01 end -->


<!-- inputfield_area_02 begin -->
<!-- テキストエリア02 -->
<div class="control-group %_area_02_if_error_% %_area_02_if_required_%">
<label class="control-label" for="area_02">%_area_02_local_name_% <abbr id="area_02_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_area_02_msg_%</span>
	<textarea class="input-xlarge" name="area_02" id="area_02" rows="5" placeholder="テキストエリア02の入力案内">%_area_02_%</textarea>
	</div>
</div>
<!-- inputfield_area_02 end -->


<!-- inputfield_area_03 begin -->
<!-- テキストエリア03 -->
<div class="control-group %_area_03_if_error_% %_area_03_if_required_%">
<label class="control-label" for="area_03">%_area_03_local_name_% <abbr id="area_03_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_area_03_msg_%</span>
	<textarea name="area_03" id="area_03" rows="5" placeholder="テキストエリア03の入力案内">%_area_03_%</textarea>
	</div>
</div>
<!-- inputfield_area_03 end -->


<!-- inputfield_area_04 begin -->
<!-- テキストエリア04 -->
<div class="control-group %_area_04_if_error_% %_area_04_if_required_%">
<label class="control-label" for="area_04">%_area_04_local_name_% <abbr id="area_04_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_area_04_msg_%</span>
	<textarea name="area_04" id="area_04" rows="5" placeholder="テキストエリア04の入力案内">%_area_04_%</textarea>
	</div>
</div>
<!-- inputfield_area_04 end -->


<!-- inputfield_area_05 begin -->
<!-- テキストエリア05 -->
<div class="control-group %_area_05_if_error_% %_area_05_if_required_%">
<label class="control-label" for="area_05">%_area_05_local_name_% <abbr id="area_05_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_area_05_msg_%</span>
	<textarea name="area_05" id="area_05" rows="5" placeholder="テキストエリア05の入力案内">%_area_05_%</textarea>
	</div>
</div>
<!-- inputfield_area_05 end -->
<!-- inputfield_radio_05 begin -->
<!-- ラジオボタン05 -->
<div class="control-group %_radio_05_if_error_% %_radio_05_if_required_%">
<label class="control-label">%_radio_05_local_name_% <abbr id="radio_05_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_radio_05_msg_%</span>
	<!-- inputfield_radio_05_item begin -->
	<label class="radio">
	<input type="radio" name="radio_05" id="radio_05_%_no_%" value="%_value_%">%_value_%
	</label>
	<!-- inputfield_radio_05_item end -->
	</div>
</div>
<!-- inputfield_radio_05 end -->


<!-- inputfield_radio_06 begin -->
<!-- ラジオボタン06 -->
<div class="control-group %_radio_06_if_error_% %_radio_06_if_required_%">
<label class="control-label">%_radio_06_local_name_% <abbr id="radio_06_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_radio_06_msg_%</span>
	<!-- inputfield_radio_06_item begin -->
	<label class="radio">
	<input type="radio" name="radio_06" id="radio_06_%_no_%" value="%_value_%">%_value_%
	</label>
	<!-- inputfield_radio_06_item end -->
	</div>
</div>
<!-- inputfield_radio_06 end -->


<!-- inputfield_radio_07 begin -->
<!-- ラジオボタン07 -->
<div class="control-group %_radio_07_if_error_% %_radio_07_if_required_%">
<label class="control-label">%_radio_07_local_name_% <abbr id="radio_07_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_radio_07_msg_%</span>
	<!-- inputfield_radio_07_item begin -->
	<label class="radio">
	<input type="radio" name="radio_07" id="radio_07_%_no_%" value="%_value_%">%_value_%
	</label>
	<!-- inputfield_radio_07_item end -->
	</div>
</div>
<!-- inputfield_radio_07 end -->


<!-- inputfield_radio_08 begin -->
<!-- ラジオボタン08 -->
<div class="control-group %_radio_08_if_error_% %_radio_08_if_required_%">
<label class="control-label">%_radio_08_local_name_% <abbr id="radio_08_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_radio_08_msg_%</span>
	<!-- inputfield_radio_08_item begin -->
	<label class="radio">
	<input type="radio" name="radio_08" id="radio_08_%_no_%" value="%_value_%">%_value_%
	</label>
	<!-- inputfield_radio_08_item end -->
	</div>
</div>
<!-- inputfield_radio_08 end -->


<!-- inputfield_radio_09 begin -->
<!-- ラジオボタン09 -->
<div class="control-group %_radio_09_if_error_% %_radio_09_if_required_%">
<label class="control-label">%_radio_09_local_name_% <abbr id="radio_09_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_radio_09_msg_%</span>
	<!-- inputfield_radio_09_item begin -->
	<label class="radio">
	<input type="radio" name="radio_09" id="radio_09_%_no_%" value="%_value_%">%_value_%
	</label>
	<!-- inputfield_radio_09_item end -->
	</div>
</div>
<!-- inputfield_radio_09 end -->


<!-- inputfield_radio_10 begin -->
<!-- ラジオボタン10 -->
<div class="control-group %_radio_10_if_error_% %_radio_10_if_required_%">
<label class="control-label">%_radio_10_local_name_% <abbr id="radio_10_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_radio_10_msg_%</span>
	<!-- inputfield_radio_10_item begin -->
	<label class="radio">
	<input type="radio" name="radio_10" id="radio_10_%_no_%" value="%_value_%">%_value_%
	</label>
	<!-- inputfield_radio_10_item end -->
	</div>
</div>
<!-- inputfield_radio_10 end -->
<!-- inputfield_checkbox_05 begin -->
<!-- チェックボックス05 -->
<div class="control-group %_checkbox_05_if_error_% %_checkbox_05_if_required_%">
<label class="control-label">%_checkbox_05_local_name_% <abbr id="checkbox_05_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_checkbox_05_msg_%</span>
	<!-- inputfield_checkbox_05_item begin -->
	<label class="checkbox">
	<input type="checkbox" name="checkbox_05" id="checkbox_05_%_no_%" value="%_value_%">%_value_%
	</label>
	<!-- inputfield_checkbox_05_item end -->
	</div>
</div>
<!-- inputfield_checkbox_05 end -->
<!-- inputfield_select_03 begin -->
<!-- 選択リスト03 -->
<div class="control-group %_select_03_if_error_% %_select_03_if_required_%">
<label class="control-label" for="select_03">%_select_03_local_name_% <abbr id="select_03_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_select_03_msg_%</span>
	<select name="select_03" id="select_03" multiple="multiple">
	<!-- <option value="">選択して下さい</option> -->
	<!--inputfield_select_03_item begin -->
	<option value="%_value_%" id="select_03_%_no_%">%_value_%</option>
	<!-- inputfield_select_03_item end -->
	</select>
	</div>
</div>
<!-- inputfield_select_03 end -->


<!-- inputfield_select_04 begin -->
<!-- 選択リスト04 -->
<div class="control-group %_select_04_if_error_% %_select_04_if_required_%">
<label class="control-label" for="select_04">%_select_04_local_name_% <abbr id="select_04_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_select_04_msg_%</span>
	<select name="select_04" id="select_04">
	<option value="">選択して下さい</option>
	<!--inputfield_select_04_item begin -->
	<option value="%_value_%" id="select_04_%_no_%">%_value_%</option>
	<!-- inputfield_select_04_item end -->
	</select>
	</div>
</div>
<!-- inputfield_select_04 end -->
<!-- inputfield_select_05 begin -->
<!-- 選択リスト05 -->
<div class="control-group %_select_05_if_error_% %_select_05_if_required_%">
<label class="control-label" for="select_05">%_select_05_local_name_% <abbr id="select_05_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_select_05_msg_%</span>
	<select name="select_05" id="select_05">
	<option value="">選択して下さい</option>
	<!--inputfield_select_05_item begin -->
	<option value="%_value_%" id="select_05_%_no_%">%_value_%</option>
	<!-- inputfield_select_05_item end -->
	</select>
	</div>
</div>
<!-- inputfield_select_05 end -->
<!-- 姓・名
<div class="control-group %_surname_if_error_% %_surname_if_required_% %_firstname_if_error_% %_firstname_if_required_%">
<label class="control-label" for="fullname">お名前 <abbr id="surname_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls form-inline" id="fullname">
	<span class="help-block">%_surname_msg_%</span><span class="help-block">%_firstname_msg_%</span>
	姓・名-->
	<!-- inputfield_surname begin -->
	<!-- 姓・名
	<span class="help-inline">%_surname_local_name_%</span>
	<input class="input-small" type="text" name="surname" id="surname" value="%_surname_%" placeholder="" maxlength="%_surname_maxlength_%">
	姓・名-->
	<!-- inputfield_surname end -->
	<!-- inputfield_firstname begin -->
	<!-- 姓・名
	<span class="help-inline">%_firstname_local_name_%</span>
	<input class="input-small" type="text" name="firstname" id="firstname" value="%_firstname_%" placeholder="" maxlength="%_firstname_maxlength_%">
姓・名-->
	<!-- inputfield_firstname end -->
	<!--
	</div>
</div>
-->
<!-- inputfield_zip begin -->
<!-- 郵便番号
<div class="control-group %_zip_if_error_% %_zip_if_required_%">
<label class="control-label" for="zip">%_zip_local_name_% <abbr id="zip_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_zip_msg_%</span>
	<input class="input-small" type="text" name="zip" id="zip" value="%_zip_%" placeholder="例：123-4567" maxlength="%_zip_maxlength_%">
	</div>
</div>
-->
<!-- inputfield_zip end -->
<!-- inputfield_city begin -->
<!-- 市区町村
<div class="control-group %_city_if_error_% %_city_if_required_%">
<label class="control-label" for="city">%_city_local_name_% <abbr id="city_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_city_msg_%</span>
	<input class="input-medium" type="text" name="city" id="city" value="%_city_%" placeholder="市区町村まで" maxlength="%_city_maxlength_%">
	</div>
</div>
 -->
<!-- inputfield_city end -->


<!-- inputfield_street begin -->
<!-- 町名・番地
<div class="control-group %_street_if_error_% %_street_if_required_%">
<label class="control-label" for="street">%_street_local_name_% <abbr id="street_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_street_msg_%</span>
	<input class="input-xxlarge" type="text" name="street" id="street" value="%_street_%" placeholder="町名・番地" maxlength="%_street_maxlength_%">
	</div>
</div>
-->
<!-- inputfield_street end -->


<!-- inputfield_bldg begin -->
<!-- ビル名/会社名
<div class="control-group %_bldg_if_error_% %_bldg_if_required_%">
<label class="control-label" for="bldg">%_bldg_local_name_% <abbr id="bldg_required" class="required" title="必須項目">※</abbr></label>
	<div class="controls">
	<span class="help-block">%_bldg_msg_%</span>
	<input class="input-xxlarge" type="text" name="bldg" id="bldg" value="%_bldg_%" placeholder="ビル名/会社名等" maxlength="%_bldg_maxlength_%">
	</div>
</div>
 -->
<!-- inputfield_bldg end -->
<!--    /not    -->

<!--
<div class="container second_txt form_info mt_20">
	<ul class="list_arrow">
		<li>※セカンドオピニオンのお客様はご相談料として1時間１万円（消費税別）を頂戴しております。</li>
		<li>※松江仁美をご希望の場合指名料として1万円（消費税別）が掛かります。<br><p class="txt_R"><a href="/lawyer/" target="blank" class="out_link">当法人の弁護士はこちら</a></p></li>
		<li>ご入力いただいた情報が外部に漏れることは一切ありません。当法人の個人情報の取り扱いについては、下記「プライバシーポリシー」からご確認ください。</li>
		<li>お問い合わせいただいた内容は、1～2営業日以内にスタッフよりご連絡いたします。</li>
	</ul>
</div>
-->

<div class="container mt_10 mb_50">
<button type="submit" class="form_btn" id="contact_check_btn_gtm">確認画面へ</button>
</div>
</form>

</div><!-- /span12 -->
</div><!-- /row -->
		<footer class="row gutters col">
		<div class="footer_inner container row">
			<div>
			<ul class="form_fotter_menu footer_arrow">
			<li ><a href="/">トップページへ</a></li>
			<li><a href="/sitemap/">サイトマップ</a></li>
			<li class="out_link2"><a href="/public/" target="blank">プライバシーポリシー</a></li>
		</ul>
			</div>
			</div>
		</div>
	</footer>
	<footer class="sp_footer row">
		<ul>
			<li><a href="/">トップページへ</a></li>
			<li><a href="/sitemap/">サイトマップ</a></li>
			<li><a href="/public/" target="blank">プライバシーポリシー</a></li>
		</ul>
			<p class="txt_C">&copy; Copyright 2015 弁護士法人 淡路町ドリーム All Rights Reserved.</p>
	</footer>
	<div class="container copy row">
			<p class="txt_C">創業平成9年 法律問題でお悩みなら弁護士法人 淡路町ドリーム</p>
			<p class="txt_C">&copy; Copyright 2015 弁護士法人 淡路町ドリーム All Rights Reserved.</p>
	</div>
<script src="/common/scripts/jquery-2.1.3.min.js"></script>
<script src="/common/scripts/respond.min.js"></script>
<script>
$(function() {
  var isChanged = false;

  $(window).bind("beforeunload", function() {
    console.log(isChanged);
    if (isChanged) {
      return "このページを離れようとしています。";
    }
  });
  $("form input, form select, form textarea").change(function() {
    isChanged = true;
  });
  $("button[type=submit]").click(function() {
    // フォームをサブミットする前にフラグを落とします。
    // ※ これをやらないと、サブミット時に確認メッセージが表示されてしまいます。
    isChanged = false;
  });
});

//トグルメニュー
 $(function(){
  $("#toggle").click(function(){
    $("#menu").slideToggle();
    return false;
  });
  $(window).resize(function(){
    var win = $(window).width();
    var p = 480;
    if(win > p){
      $("#menu").show();
    } else {
      $("#menu").hide();
    }
  });
});

 //トップへ戻る
 $(function() {
    var topBtn = $('#page-top');
    topBtn.hide();
    //スクロールが100に達したらボタン表示
    $(window).scroll(function () {
        if ($(this).scrollTop() > 10) {
            topBtn.fadeIn();
        } else {
            topBtn.fadeOut();
        }
    });
    //スクロールしてトップ
    topBtn.click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 500);
        return false;
    });
});

	   //電話発信制御
	$(function() {
    if (!isPhone())
        return;

    $('span[data-action=call]').each(function() {
        var $ele = $(this);
        $ele.wrap('<a href="tel:' + $ele.data('tel') + '"></a>');
    });
});

function isPhone() {
    return (navigator.userAgent.indexOf('iPhone') > 0 || navigator.userAgent.indexOf('Android') > 0);
}
</script>
<script src="//sitest.jp/tracking/sitest_js?p=55ee78579cc2d"></script>

<!-- GS Yahoo! Tag Manager -->
<script type="text/javascript">
  (function () {
    var tagjs = document.createElement("script");
    var s = document.getElementsByTagName("script")[0];
    tagjs.async = true;
    tagjs.src = "//s.yjtag.jp/tag.js#site=2y6GWNB";
    s.parentNode.insertBefore(tagjs, s);
  }());
</script>
<noscript>
  <iframe src="//b.yjtag.jp/iframe?c=2y6GWNB" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</noscript>
<!-- GS Yahoo! Tag Manager -->


<!-- GORILLA EFO -->
<script src="//app.gorilla-efo.com/js/efo.395.js" type="text/javascript"></script>
<!-- GORILLA EFO -->
</body>



</html>
